<md-dialog
	ng-controller="WbActionCtrl"
	aria-label="edit action dialog"
	ng-cloak>
	<!-- نوار ابزار بالای دریچه محاوره‌ای -->
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 translate>Action</h2>
			<span flex></span>
			<md-button
				class="md-icon-button"
				ng-click="answer(mdeModel)"> 
				<md-icon aria-label="Close dialog">done</md-icon> 
			</md-button>
			<md-button
				class="md-icon-button"
				ng-click="cancel()"> 
				<md-icon aria-label="Close dialog">close</md-icon> 
			</md-button>
		</div>
	</md-toolbar>

	<!-- محتوی صفحه را تعیین می‌کند -->
	<!-- در این صفحه اطلاعات یک عمل نمایش داده می‌شود و امکان ویرایش آن برای -->
	<!-- کاربران فراهم می‌کند. -->
	<md-dialog-content>
		<div
			layout="column"
			class="md-dialog-content">
			<mde-iconfont-choise
				mde-model="model.icon"
				mde-list-url="styles/fonts/codepoints.json"
				mde-font-set="material-icons">
			</mde-iconfont-choise>
			<md-input-container> 
				<label translate>Label</label>
				<input ng-model="mdeModel.label"> 
			</md-input-container>
	
			<md-input-container> 
				<label translate>Text</label>
				<input ng-model="mdeModel.text"> 
			</md-input-container>
	
			<!-- نوع عمل را تعیین می‌کند -->
			<md-input-container> 
				<label>Module type</label> 
				<md-select
					ng-model="mdeModel.type"> 
					<md-option
						ng-repeat="type in types"
						value="{{type.key}}"> 
						<md-icon>{{type.icon}}</md-icon>
						{{type.label}} 
					</md-option> 
				</md-select> 
			</md-input-container>
	
			<md-input-container> 
				<label translate>Value</label>
				<input ng-model="mdeModel.value"> 
			</md-input-container>
			
			<md-checkbox 
				ng-model="mdeModel.primary" aria-label="primary">
			  	Primary action
			</md-checkbox>
			<md-checkbox 
				ng-model="mdeModel.accent" aria-label="accent">
			  	Accent action
			</md-checkbox>
         
		</div>
	</md-dialog-content>
</md-dialog>
