<md-dialog ng-cloak>
	<!-- 	یک نوار ابزار برای نمایش عنوان -->
	<md-toolbar>
	  <div class="md-toolbar-tools">
	    <md-icon ng-if="style.icon">{{style.icon}}</md-icon>
	    <h2 translate>{{mdeModel.title}}</h2>
	    <span class="wb-flex"></span>
	    <md-button class="md-icon-button" ng-click="cancel()">
	      <md-icon aria-label="Close dialog">close</md-icon>
	    </md-button>
	  </div>
	</md-toolbar>
	
	<!-- 	محتوی ایجاد شده برای تنظیم‌ها -->
	<md-dialog-content>
		<!-- ابزارهای مورد نیاز برای تنظیم‌ها در این قسمت قرار گرفته است. -->
		<md-tabs md-dynamic-height md-border-bottom>
		  <md-tab label="Context">
		    <md-content layout="column" layout-padding>
		      <md-input-container>
		        <label translate>title</label>
		        <input ng-model="model.title">
		      </md-input-container>
		      <md-input-container>
		        <label translate>text</label>
		        <input ng-model="model.text">
		      </md-input-container>
		    </md-content>
		  </md-tab>
		  <md-tab label="Style">
		    <md-content layout="column" layout-padding>
		    
		      <md-color-picker
		        label="Background color"
		        icon="brush"
		        ng-model="model.style.backgroundColor">
		      </md-color-picker>
		      <md-color-picker
		        label="Color"
		        icon="brush"
		        ng-model="model.style.color">
		      </md-color-picker>
		
		      <md-input-container>
		        <label translate>Font</label>
		        <input ng-model="model.style.font">
		      </md-input-container>
		      <md-input-container>
		        <label translate>Padding</label>
		        <input ng-model="model.style.padding">
		      </md-input-container>
		      <md-input-container>
		        <label translate>Width</label>
		        <input ng-model="model.style.width">
		      </md-input-container>
		      <md-input-container>
		        <label translate>Height</label>
		        <input ng-model="model.style.height">
		      </md-input-container>
		      <md-checkbox ng-model="model.style.rtl" aria-label="Right to left">
		        Right to left
		      </md-checkbox>
		    </md-content>
		  </md-tab>
		</md-tabs>
	</md-dialog-content>
</md-dialog>