<md-dialog
	aria-label="edit action dialog"
	ng-controller="WbWidgetSelectCtrl"
	ng-cloak>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 translate>Widget list</h2>
			<span flex></span>
			<md-button
				class="md-icon-button"
				ng-click="cancel()"> 
				<wb-icon aria-label="Close dialog">close</wb-icon> 
			</md-button>
		</div>
	</md-toolbar>

	<md-dialog-content>
		<md-content 
			class="md-padding md-dialog-content" 
			layout-xs="column" 
			layout="row" layout-wrap>
			Under construct			
		</md-content>
	</md-dialog-content>
</md-dialog>
