<md-dialog aria-label="Select item/items"
	style="width:50%; height:70%;">
	<form ng-cloak layout="column" flex>
		<md-dialog-content
			mb-preloading="loadingAnswer"
			flex
			layout="row">
			<div
				layout="column"
				flex>
				<div 
					id="wb-select-resource-children"
					style="margin: 0px; padding: 0px; overflow: auto;"
					layout="column" 
					flex>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
<!-- 			<md-button -->
<!-- 				ng-if="openHelp" -->
<!-- 				ng-click="openHelp($event)" -->
<!-- 				aria-label="Show help">  -->
<!-- 				<span translate="">Learn more</span>  -->
<!-- 			</md-button> -->
			<span flex></span>
			<md-button
				ng-click="cancel()"
                                aria-label="Cancel"> 
				<span translate="">Close</span> 
			</md-button>
			<md-button
				class="md-primary"
                                aria-label="Done"
				ng-click="answer()"> 
				<span translate="">Ok</span> 
			</md-button>
	    </md-dialog-actions>
	</form>
</md-dialog>
