<!-- 
Contents 

Enable user to select an content.

In the other hand, admin are able to upload contents.
 -->
<md-dialog 
	aria-label="Select media"
	ng-controller="WbCmsCtrl"
	ng-cloak>
	<form ng-submit="answer(content)">
	<!--   	نوار ابزار بالای دیالوگ -->
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 translate>Media select</h2>
				<span flex></span>
				<md-button
					class="md-icon-button"
					ng-click="answer(content)"> 
					<md-icon aria-label="Close dialog">done</md-icon> 
				</md-button>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
  
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<!-- Submit form -->
				<div 
					layout="row">
					<div 
						layout="column"
						flex>
						<div
							ng-repeat="content in contents" 
							ng-click="select(content)"
							layout-padding>
							{{content.id}}:
							{{content.title}}
						</div>
					</div>
					<div flex="40">
						<div>
							{{content.id}}:{{content.title}}
							<img alt="No priview" src="{{content.link}}" width="500">
						</div>
					</div>
					<div>
						<input onchange="angular.element(this).scope().upload(this.files[0])" type="file"/>
					</div>
				</div>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>
