<md-dialog
	aria-label="edit action dialog"
	ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 translate>{{style.title | translate}}</h2>
			<span flex></span>
			<md-button
				class="md-icon-button"
				ng-click="cancel()"> 
				<wb-icon aria-label="Close dialog">close</wb-icon> 
			</md-button>
			<md-button
				class="md-icon-button"
				ng-click="answer()"> 
				<wb-icon aria-label="done dialog">done</wb-icon> 
			</md-button>
		</div>
	</md-toolbar>

	<md-dialog-content 
		ng-init="pageIndex=0;"
		layout="column"
		flex>
		<md-tabs
			md-selected="pageIndex"
			ng-show="pages.length && pages.length &gt; 1"
			md-stretch-tabs="always"
			md-center-tabs="true">
			<md-tab 
				ng-repeat="page in pages"
				label="{{page.label | translate}}">
			</md-tab>
		</md-tabs>
		<div 
			layout="row"
 			id="wb-select-resource-children">
		</div>
	</md-dialog-content>
</md-dialog>
