<!-- آدرس ارتباطی -->
<!-- از این دریچه محاوره‌ای برای ثبت یک رایانامه،‌ شماره تماس، و یا آدرس شبکه‌های اجتمائی
در سیستم خبرگزاری استفاده می‌شود. تنها پارامتری که در این دریچه محاوره‌ای از کاربر
دریافت می‌شود یک آدرس است. 

مدل داده‌ای که برای کار با این دریچه محاوره‌ای استفاده می‌شه شامل خصوصیت‌های زیر هست:

- title
- message
- inputLable
- style
-->
<md-dialog 
	ng-class="{'mde-rtl':mdeModel.style.rtl}"
	aria-label="Submit for Donate News" ng-cloak>
  <form ng-submit="answer(address)">
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- <md-icon md-svg-icon="digidoci"></md-icon> -->
   		<img src="images/logo.svg" width="64"></img>
        <h2>{{mdeModel.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    
    <md-dialog-content>
      <div 
		class="md-dialog-content" 
		layout="column">
      
        <!-- <h2 translate>digidoki</h2> -->
        <p>{{mdeModel.message}}</p>

        <!-- Submit form -->
        <md-input-container>
          <label translate>email</label>
          <input ng-model="address">
        </md-input-container>
        
        <div layout="row">
	        <md-button class="md-raised md-primary" ng-click="answer(address)" >
	        	{{'submit'|translate}}
	        </md-button>
	        <md-button ng-click="cancel()" >
	        	{{'cancel'|translate}}
	        </md-button>
        </div>
        
        </div>
    </md-dialog-content>
    
    
  </form>
</md-dialog>
