<md-dialog
	aria-label="edit action dialog"
	ng-cloak>
	<form ng-submit="answer(mdeModel)">
		<!-- نوار ابزار بالای دریچه محاوره‌ای -->
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 translate>Ticket</h2>
				<span flex></span>
				<md-button
					class="md-icon-button"
					ng-click="answer(mdeModel)"> 
					<md-icon aria-label="Close dialog">done</md-icon> 
				</md-button>
				<md-button
					class="md-icon-button"
					ng-click="cancel()"> 
					<md-icon aria-label="Close dialog">close</md-icon> 
				</md-button>
			</div>
		</md-toolbar>
	
		<!-- محتوی صفحه را تعیین می‌کند -->
		<md-dialog-content>
			<div
				layout="column"
				class="md-dialog-content">
				<mde-iconfont-choise
					mde-model="mdeModel.icon"
					mde-list-url="styles/fonts/codepoints.json"
					mde-font-set="material-icons">
				</mde-iconfont-choise>
				<md-input-container> 
					<label translate>Title</label>
					<input ng-model="mdeModel.title"> 
				</md-input-container>
				<md-wysiwyg
					textarea-id="question"
					textarea-class="form-control"
					textarea-height="100px"
					textarea-name="textareaQuestion"
					textarea-required
					ng-model="mdeModel.text"
					enable-bootstrap-title="true"
					textarea-menu="yourModel.customMenu"></md-wysiwyg>
			</div>
		</md-dialog-content>
		<input
			type="submit"
			hidden="true" />
	</form>
</md-dialog>
