# NodeJS
/node_modules

# bower
/bower_components

# Project
/.tmp
/.sass-cache
#/dist

# Eclipse
.settings

# KDE
.directory

# WebStorm and JetBrains Softwares
.idea
#/dist/
/nbproject/private/
/coverage/
/doc/
/package-lock.json
