<!-- Created by mgh on 8/10/2016. -->
<!--
Margin and padding setting
 -->

<div layout="column">

    <!--Preview Box-->
    <!--TODO: mgh, 1395: good candidate for a directive, like: ng-previewbox items={"1","2","3"} -->
    <div class="preview-box mde-flex-item-stretch">
        <div class="header">Preview</div>
        <div class="preview-area"
             ng-class="[mdeParent.mdeModel.style.flexDirection,mdeModel.style.justifyContent, mdeModel.style.alignItems]"
             style="display: flex">
            <div class="widget" layout="row" layout-align="center center"><p>before</p></div>
            <div class="widget"
                 ng-class="mdeModel.style.flexAlignItem"
                 ng-style="{
                'margin-left':mdeModel.style.marginLeft,
                'margin-right':mdeModel.style.marginRight,
                'margin-top':mdeModel.style.marginTop,
                'margin-bottom':mdeModel.style.marginBottom,

                'padding-left':mdeModel.style.paddingLeft,
                'padding-right':mdeModel.style.paddingRight,
                'padding-top':mdeModel.style.paddingTop,
                'padding-bottom':mdeModel.style.paddingBottom,

                 'flex-grow':mdeModel.style.flexItemGrow,
                 '-webkit-flex-grow':mdeModel.style.flexItemGrow}"
                 layout="row" layout-align="center center"
                 style="border: 2px dotted"><p>
                item</p></div>
            <div class="widget" layout="row" layout-align="center center"><p>after</p></div>
        </div>
    </div>

    <div class="setting-panel"
         layout="column"
         layout-gt-sm="row">

        <md-list>
            <md-subheader>Margin</md-subheader>
            <md-divider style="margin-bottom: 1em "></md-divider>
            <div layout="row" class="mde-flex-align-items-center">
                <span>Left</span>
                <md-slider flex min="0" max="100" ng-model="mdeModel.style.marginLeft">
                </md-slider>
                <md-input-container>
                    <input style="width: 50px" flex type="number" ng-model="mdeModel.style.marginLeft">
                </md-input-container>
            </div>
            <div layout="row" class="mde-flex-align-items-center">
                <span>Right</span>
                <md-slider flex min="0" max="100" ng-model="mdeModel.style.marginRight">
                </md-slider>
                <md-input-container>
                    <input style="width: 50px" flex type="number" ng-model="mdeModel.style.marginRight">
                </md-input-container>
            </div>
            <div layout="row" class="mde-flex-align-items-center">
                <span>Top</span>
                <md-slider flex min="0" max="100" ng-model="mdeModel.style.marginTop">
                </md-slider>
                <md-input-container>
                    <input style="width: 50px" flex type="number" ng-model="mdeModel.style.marginTop">
                </md-input-container>
            </div>
            <div layout="row" class="mde-flex-align-items-center">
                <span>Bottom</span>
                <md-slider flex min="0" max="100" ng-model="mdeModel.style.marginBottom">
                </md-slider>
                <md-input-container>
                    <input style="width: 50px" flex type="number" ng-model="mdeModel.style.marginBottom">
                </md-input-container>
            </div>
        </md-list>

        <md-list>
            <md-subheader>Padding</md-subheader>
            <md-divider style="margin-bottom: 1em "></md-divider>
            <div layout="row" class="mde-flex-align-items-center">
                <span>Left</span>
                <md-slider flex min="0" max="100" ng-model="mdeModel.style.paddingLeft">
                </md-slider>
                <md-input-container>
                    <input style="width: 50px" flex type="number" ng-model="mdeModel.style.paddingLeft">
                </md-input-container>
            </div>
            <div layout="row" class="mde-flex-align-items-center">
                <span>Right</span>
                <md-slider flex min="0" max="100" ng-model="mdeModel.style.paddingRight">
                </md-slider>
                <md-input-container>
                    <input style="width: 50px" flex type="number" ng-model="mdeModel.style.paddingRight">
                </md-input-container>
            </div>
            <div layout="row" class="mde-flex-align-items-center">
                <span>Top</span>
                <md-slider flex min="0" max="100" ng-model="mdeModel.style.paddingTop">
                </md-slider>
                <md-input-container>
                    <input style="width: 50px" flex type="number" ng-model="mdeModel.style.paddingTop">
                </md-input-container>
            </div>
            <div layout="row" class="mde-flex-align-items-center">
                <span>Bottom</span>
                <md-slider flex min="0" max="100" ng-model="mdeModel.style.paddingBottom">
                </md-slider>
                <md-input-container>
                    <input style="width: 50px" flex type="number" ng-model="mdeModel.style.paddingBottom">
                </md-input-container>
            </div>
        </md-list>
    </div>

</div>