<!--
تنظیم‌های متنی

توی صفحه‌های متفاوت نیاز داریم که یک متن و یک عنوان رو تعیین کنیم. این صفحه
امکانات مورد نیاز برای تنظیم این دسته از ماژولها را فراهم کرده است. در اینجا
فرض می‌کنید که در مدل داده‌ای خصوصیت‌های زیر وجود دارد:

- {Text} title
- {HTML} text

که به ترتیب یک متن ساده و یک ابر متن هست.
-->
<div 
	layout="column">
	<md-input-container>
	  <label translate>title</label>
	  <input 
	  	type="text" ng-model="mdeModel.title">
	</md-input-container>
	<md-wysiwyg
		textarea-id="question"
		textarea-class="form-control"
		textarea-height="100px"
		textarea-name="textareaQuestion"
		textarea-required
		ng-model="mdeModel.text"
		enable-bootstrap-title="true"
		textarea-menu="yourModel.customMenu"></md-wysiwyg>
</div>