<!--
background setting page

a panel for background settings and opacity of a widget. these css-attributes are affected:
- background-color
- background-transparent
- background-image
- opacity

Created by mgh.
-->
<md-list class="wb-setting-panel">

    <!-- is transparent? -->
    <wb-ui-setting-on-off-switch title="Transparent?" icon="blur_on" value="wbModel.style.isTransparent"></wb-ui-setting-on-off-switch>

    <!-- opacity text-box -->
    <wb-ui-setting-number ng-show="wbModel.style.isTransparent" title="Opacity" icon="opacity" value="wbModel.style.opacity"></wb-ui-setting-number>

    <!-- opacity slider -->
    <wb-ui-setting-number ng-show="wbModel.style.isTransparent" slider="" icon="no-icon"  value="wbModel.style.opacity"></wb-ui-setting-number>

    <!-- background color -->
    <wb-ui-setting-color title="Background Color" icon="format_color_fill" value="wbModel.style.backgroundColor"></wb-ui-setting-color>

</md-list>