<!--
border setting page

a panel for setting a border for a widget. for each left/right/top/bottom properties. these css-attributes are affected:
- border-style
- border-width
- border-color
- border-radius


Created by mgh.
@author maso(mostafa.barmshory@dpq.co.ir)

@version 2.x All settings are rewrite based on new data model of the border
-->
<!-- TODO: maso, 2018: add a UI editor for these attributes -->
<wb-ui-setting-length
    title="{{'Style' | translate}}"
    slider=""
    icon="wb-blank"
    value="wbModel.style.border.style"
    > </wb-ui-setting-length>
<wb-ui-setting-length
    title="{{'Width' | translate}}"
    slider=""
    icon="wb-blank"
    value="wbModel.style.border.width"
    > </wb-ui-setting-length>
<wb-ui-setting-length
    title="{{'Color' | translate}}"
    slider=""
    icon="wb-blank"
    value="wbModel.style.border.color"
    > </wb-ui-setting-length>
<wb-ui-setting-border
    title="{{'Radius' | translate}}"
    slider=""
    icon="wb-blank"
    value="wbModel.style.border.radius"
    > </wb-ui-setting-border>
