<!--
General setting

Contains:
- color (foreground)
- cursor
- opacity

Created by masood.
@author masood(masoodzarei64@gmail.com)
-->

<div 
    layout="column"
    style="min-width: 200px;">

    <!--COLOR SECTION-->
    <wb-ui-setting-color 
        title="Color" 
        wb-ui-setting-clear-button="true"
        wb-ui-setting-preview="true"
        ng-model="wbModel.style.color">
    </wb-ui-setting-color>

    <!--CURSOR SECTION-->
    <div layout="row">
        <wb-icon>mouse</wb-icon>
        <p translate="">Cursor</p>
        <span flex></span>
        <md-input-container layout-align="end center">
            <md-select 
                style="max-width:75px;"
                ng-model="wbModel.style.cursor">
                <md-option 
                    ng-repeat="cursor in ::cursors"
                    value="{{::cursor.value}}">
                    {{::cursor.title}}
                </md-option>
            </md-select>
        </md-input-container> 
    </div>


    <!--OPACITY SECTION-->
    <div 
        layout="column"
        style="min-width: 200px;">

        <div 
            layout="row"
            layout-align="end center">

            <wb-icon>opacity</wb-icon>

            <span flex translate="">Opacity</span>

            <md-input-container 
                style="margin:0px; padding:0px; width:60px; height:30px;">
                <input 
                    type="text" 
                    ng-model="wbModel.style.opacity">
            </md-input-container>
        </div>

<!--        <md-slider-container 
            style="margin:0px; padding:0px; height:30px;"
            aria-label="display opacity value with slider">
            <md-slider 
                    min="0.00"
                    max="1.00"
                    step="0.01"
                    round
                    ng-model="wbModel.style.opacity">
            </md-slider>
        </md-slider-container>-->

    </div>

</div>