<!-- Descriptive settings -->
<!-- 
Some widgets need simple description in text. This is a setting to manage
these attributes. Here is list of attributes:

- {Text} label 
- {Text} description 
- {Text} keywords

These attributes are usefull in SEO.
-->
<div 
	layout="column"
	style="width:100%">
	<md-input-container>
	  <label translate>Lable</label>
	  <input 
	  	type="text" 
	  	ng-model="wbModel.label">
	</md-input-container>
	<md-input-container>
	  <label translate>Description</label>
	  <input 
	  	type="text" 
	  	ng-model="wbModel.description">
	</md-input-container>
	<md-input-container>
	  <label translate>Keywords</label>
	  <input 
	  	type="text" 
	  	ng-model="wbModel.keywords">
	</md-input-container>
	
	
    <wb-ui-setting-image
    	title="Cover" 
        value="wbModel.cover">
	</wb-ui-setting-image>
	
</div>
