<!-- Descriptive settings -->
<!-- 
Some widgets need simple description in text. This is a setting to manage
these attributes. Here is list of attributes:

- {Text} label 
- {Text} description 
- {Text} keywords
- {url} cover

These attributes are useful in SEO.
-->
<md-input-container>
  <label translate="">Label</label>
  <input 
  	type="text" 
  	ng-model="wbModel.label">
</md-input-container>

<md-input-container>
  <label translate="">Description</label>
  <input 
  	type="text" 
  	ng-model="wbModel.description">
</md-input-container>

<md-input-container>
  <label translate="">Keywords</label>
  <input 
  	type="text" 
  	ng-model="wbModel.keywords">
</md-input-container>


<wb-ui-setting-image
	title="{{Cover | translate}}" 
	ng-model="wbModel.cover">
</wb-ui-setting-image>
	
