<!-- تنظیم‌های متنی -->
<!-- 
برخی از ماژولها به توصیف‌هایی نیاز دارن که با یک عنوان و یک متن ساده
کارشون حله. اینجا یا صفحه ایجاد کردیم که این خصوصیت‌ها رو برای کاربران
ویرایش کنه. خصوصیت‌هایی که توی این صفحه در نظر گرفته شده عبارتند از:

- {Text} label 
- {Text} description 
- {Text} keywords
-->
<!-- که به ترتیب یک متن ساده و یک ابر متن هست. -->
<div 
	layout="column"
	style="width:100%">
	<md-input-container>
	  <label translate>Lable</label>
	  <input 
	  	type="text" ng-model="wbModel.label">
	</md-input-container>
	<md-input-container>
	  <label translate>Description</label>
	  <input 
	  	type="text" ng-model="wbModel.description">
	</md-input-container>
	<md-input-container>
	  <label translate>Keywords</label>
	  <input 
	  	type="text" ng-model="wbModel.keywords">
	</md-input-container>
</div>
