<!--
General setting

Contains:
- color (foreground)
- cursor
- opacity

Created by masood.
@author masood(masoodzarei64@gmail.com)
@author maso(mostafa.barmshory@dpq.co.ir)
-->

<!--   Widget direction -->
<fieldset
   	layout="column">
	<legend translate>Text</legend>
    <md-input-container 
    	layout-align="end center">
		<md-select 
			ng-model="ctrl.direction" 
			ng-change="ctrl.setStyle('direction', ctrl.direction)"
			style="min-width: 200px;">
			<md-option 
				ng-value="'ltr'">
				<span translate>Left to right</span>
			</md-option>
			<md-option 
				ng-value="'rtl'">
				<span translate>Right to left</span>
			</md-option>
			<md-option 
				ng-value="'inherit'">
				<span translate>Inherit</span>
			</md-option>
			<md-option 
				ng-value="'initial'">
				<span translate>Initial</span>
			</md-option>
		</md-select>
	</md-input-container>
    <!--COLOR SECTION-->
    <wb-ui-setting-color 
        title="Color" 
        wb-ui-setting-clear-button="true"
        wb-ui-setting-preview="true"
        ng-model="ctrl.color"
    	ng-change="ctrl.setStyle('color', ctrl.color)">
    </wb-ui-setting-color>
</fieldset>



   <!--CURSOR SECTION-->
<fieldset
   	layout="column">
   	<legend translate>Mouse</legend>
       <md-input-container>
        <wb-icon>mouse</wb-icon>
        <label translate>Cursor</label>
           <md-select 
               style="max-width:75px;"
               ng-model="ctrl.cursor"
   			ng-change="ctrl.setStyle('cursor', ctrl.cursor)">
               <md-option 
                   ng-repeat="cursor in ::ctrl.cursors"
                   value="{{::cursor.value}}">
                   {{::cursor.title}}
               </md-option>
           </md-select>
       </md-input-container> 
   </fieldset>


<!--OPACITY SECTION-->
<fieldset
	layout="column">
	<legend translate>Visibility</legend>
	<md-input-container
    	layout-align="end center">
    	<label translate>Visibility</label>
		<md-select 
			ng-model="ctrl.visibility" 
			ng-change="ctrl.setStyle('visibility', ctrl.visibility)"
			style="min-width: 200px;"
			disabled>
			<md-option 
				ng-value="'visible'">
				<span translate>Visible</span>
			</md-option>
			<md-option 
				ng-value="'hidden'">
				<span translate>Hidden</span>
			</md-option>
		</md-select>
	</md-input-container>
       <md-input-container 
           style="margin:0px; padding:0px; width:60px; height:30px;">
        <wb-icon>opacity</wb-icon>
        <label translate>Opacity</label>
           <input 
               type="text" 
               ng-model="ctrl.opacity"
			ng-change="ctrl.setStyle('opacity', ctrl.opacity)">
       </md-input-container>
</fieldset>


<!--OPACITY SECTION-->
<fieldset
	layout="column">
	<legend translate>Overflow</legend>
	<md-input-container
    	layout-align="end center">
    	<label translate>X</label>
		<md-select 
			ng-model="ctrl.overflowX" 
			ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
			ng-change="ctrl.updateOverflowX()"
			style="min-width: 200px;">
			<md-option 
				ng-value="'visible'">
				<span translate>Visible</span>
			</md-option>
			<md-option 
				ng-value="'hidden'">
				<span translate>Hidden</span>
			</md-option>
			<md-option 
				ng-value="'scroll'">
				<span translate>Scroll</span>
			</md-option>
			<md-option 
				ng-value="'auto'">
				<span translate>Auto</span>
			</md-option>
			<md-option 
				ng-value="'initial'">
				<span translate>Initial</span>
			</md-option>
			<md-option 
				ng-value="'inherit'">
				<span translate>Inherit</span>
			</md-option>
		</md-select>
	</md-input-container>
	<md-input-container
    	layout-align="end center">
    	<label translate>Y</label>
		<md-select 
			ng-model="ctrl.overflowY" 
			ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
			ng-change="ctrl.updateOverflowY()"
			style="min-width: 200px;">
			<md-option 
				ng-value="'visible'">
				<span translate>Visible</span>
			</md-option>
			<md-option 
				ng-value="'hidden'">
				<span translate>Hidden</span>
			</md-option>
			<md-option 
				ng-value="'scroll'">
				<span translate>Scroll</span>
			</md-option>
			<md-option 
				ng-value="'auto'">
				<span translate>Auto</span>
			</md-option>
			<md-option 
				ng-value="'initial'">
				<span translate>Initial</span>
			</md-option>
			<md-option 
				ng-value="'inherit'">
				<span translate>Inherit</span>
			</md-option>
		</md-select>
	</md-input-container>
</fieldset>