

<!-- is transparent? -->
<!-- <wb-ui-setting-on-off-switch  -->
<!--     title="Transparent?"  -->
<!--     icon="blur_on"  -->
<!--     value="wbModel.style.isTransparent"> -->
<!-- </wb-ui-setting-on-off-switch> -->

<!-- opacity text-box -->
<!-- <wb-ui-setting-number  -->
<!--     ng-show="wbModel.style.isTransparent"  -->
<!--     title="Opacity"  -->
<!--     icon="wb-opacity"  -->
<!--     value="wbModel.style.opacity"> -->
<!-- </wb-ui-setting-number> -->

<!-- opacity slider -->
<!-- <wb-ui-setting-number  -->
<!--     ng-show="wbModel.style.isTransparent"  -->
<!--     slider=""  -->
<!--     icon="wb-blank"   -->
<!--     value="wbModel.style.opacity"> -->
<!-- </wb-ui-setting-number> -->

