<!-- 
خصوصیت‌های مورد نیاز در لایه بندی

در این صفحه خصوصیت‌هایی به کار رفته در لایه بندی نمایش داده می‌شود. این خصوصیت‌ها
برای ایجاد لایه بندی در صفحه‌ها کاربرد دارد.

- direction
- directionAlignment
- perpendicularAlignment

 -->

<div layout="column"
     ng-style="{'width': '100%'}">

    <!--Preview Box-->
    <div class="preview-box">
        <div class="header">Preview</div>
            <div class="preview-area"
                 layout="{{wbModel.style.direction}}"
                 layout-align="{{wbModel.style.directionAlignment}} {{wbModel.style.perpendicularAlignment}}">
                <div class="widget" layout="row" layout-align="center center"><p>1</p></div>
                <div class="widget" layout="row" layout-align="center center"><p>2</p></div>
                <div class="widget" layout="row" layout-align="center center"><p>3</p></div>
            </div>
    </div>


    <div
            layout="column" layout-align="none none"
            layout-gt-sm="row" layout-align-gt-sm="space-around none">
        <div>
            <div>Layout Direction</div>
            <md-radio-group
                    ng-model="wbModel.style.direction"
                    role="radiogroup">
                <md-radio-button
                        ng-repeat="direction in directions"
                        value="{{direction.value}}">
                    <md-icon>{{direction.icon}}</md-icon>
                    {{direction.title |translate}}
                </md-radio-button>
            </md-radio-group>
        </div>

        <div>
            <div>Alignment in Layout Direction</div>
            <md-radio-group
                    ng-model="wbModel.style.directionAlignment"
                    role="radiogroup">
                <md-radio-button
                        ng-repeat="align in directionAlignments"
                        value="{{align.value}}">
                    {{align.title}}
                </md-radio-button>
            </md-radio-group>
        </div>
        <div>
            <div>Alignment in Perpendicular Direction</div>
            <md-radio-group
                    ng-model="wbModel.style.perpendicularAlignment"
                    role="radiogroup">
                <md-radio-button
                        ng-repeat="align in perpendicularAlignments"
                        value="{{align.value}}">
                    {{align.title}}
                </md-radio-button>
            </md-radio-group>
        </div>
    </div>
</div>