<!-- Created by mgh on 8/10/2016. -->
<!--
override flex option for a specific item

- flexAlignItem
- flexItemBasis

Completely rewrite by mgh on 2/25/17.
-->

<md-list class="wb-setting-panel">

    <!-- Align Items -->
    <wb-ui-setting-choose title="{{(wbModel.style.flexDirection!='wb-flex-row')?'Vert.':'Horz.'}}"
                          icon="{{(wbModel.style.flexDirection!='wb-flex-row')?'swap_vert':'swap_horiz'}}"
                          items="flexAlignItem" value="wbModel.style.flexAlignItem"></wb-ui-setting-choose>

    <!-- Weight -->
    <!-- enable/disable weight checkbox -->
    <wb-ui-setting-on-off-switch title="Fill Space?" icon="border_all"
                                 value="wbModel.style.flexItemGrowEnabled"></wb-ui-setting-on-off-switch>

    <!-- weight number -->
    <wb-ui-setting-number slider=""  ng-show="wbModel.style.flexItemGrowEnabled" title="Weight" icon="face"
                          value="wbModel.style.flexItemGrow"></wb-ui-setting-number>

</md-list>