<!-- 
some features for container layout

the following items can be set for customizing container layout:

- flexDirection
- flexWrap // in this version this property is not involved
- alignItems
- justifyContent

@author Completely rewrite by mgh on 2/24/17.
@author maso<mostafa.barmshory@dpq.co.ir>
-->
<!-- direction -->
<wb-ui-setting-choose 
    title="Direction" 
    icon="wb-direction" 
    items="direction"
    ng-model="wbModel.style.layout.direction">
</wb-ui-setting-choose>

<!-- Align Items -->
<wb-ui-setting-choose 
    title="{{(wbModel.style.layout.direction=='row')?'Vert.':'Horz.'}}"
    icon="{{(wbModel.style.layout.direction=='row')?'wb-vertical-arrows':'wb-horizontal-arrows'}}"
    items="align[wbModel.style.layout.direction]" 
    ng-model="wbModel.style.layout.align">
</wb-ui-setting-choose>

<!-- Justify Content -->
<wb-ui-setting-choose 
    title="{{(wbModel.style.layout.direction!='row')?'Vert.':'Horz.'}}"
    icon="{{(wbModel.style.layout.direction!='row')?'wb-vertical-arrows':'wb-horizontal-arrows'}}"
    items="justify[wbModel.style.layout.direction]" 
    ng-model="wbModel.style.layout.justify">
</wb-ui-setting-choose>

