<!-- 
Box layout settings

the following items can be set for customizing container layout:

        layout
                group
                        direction: row, column
                        direction_reverse: true, false
                        
                        wrap: boolean
                        wrap_inverse: boolean
                        wrap_align: start center end stretch space-around space between
                        
                        
                        justify: start end center space-between space-around space-evenly
                        align: start end center baseline stretch
                        
                widget
                        grow: 0-9
                        shrink: 0-9
                        
                        order: number
                        align-self: auto flex-start flex-end center baseline stretch


@author mgh on 2/24/17.
@author maso<mostafa.barmshory@dpq.co.ir>
-->
<!-- direction -->
<wb-ui-setting-choose 
    ng-if="wbModel.type === 'Group'"
    title="Direction" 
    icon="wb-direction" 
    items="ctrl.direction_"
    ng-model="ctrl.direction"
    ng-change="ctrl.directionChanged()">
</wb-ui-setting-choose>


<!-- wrap -->
<md-switch 
    ng-if="wbModel.type === 'Group'"
    ng-model="ctrl.wrap" 
    ng-change="ctrl.wrapChanged()"
    aria-label="Layout wrap">
    <span 
        ng-if="ctrl.direction === 'row'"
        translate="">Multi row</span>
    <span 
        ng-if="ctrl.direction !== 'row'"
        translate="">Multi column</span>
</md-switch>


<!--Align Items--> 
<wb-ui-setting-choose 
    ng-if="wbModel.type === 'Group' && ctrl.direction==='row'"
    title="Vert."
    items="ctrl.align_['row']" 
    ng-model="ctrl.align"
    ng-change="ctrl.alignChanged()">
</wb-ui-setting-choose>
<wb-ui-setting-choose 
    ng-if="wbModel.type === 'Group' && ctrl.direction==='column'"
    title="Horz."
    items="ctrl.align_['column']" 
    ng-model="ctrl.align"
    ng-change="ctrl.alignChanged()">
</wb-ui-setting-choose>

<!--Justify Content--> 
<wb-ui-setting-choose 
    ng-if="wbModel.type === 'Group' && ctrl.direction==='row'"
    title="Vert.'"
    items="ctrl.justify_['row']" 
    ng-model="ctrl.justify"
    ng-change="ctrl.justifyChanged()">
</wb-ui-setting-choose>
<wb-ui-setting-choose 
    ng-if="wbModel.type === 'Group' && ctrl.direction==='column'"
    title="Horz."
    items="ctrl.justify_['column']" 
    ng-model="ctrl.justify"
    ng-change="ctrl.justifyChanged()">
</wb-ui-setting-choose>


<!--selfAlign--> 
<!--TODO: maso, 2018: get parent align--> 
<wb-ui-setting-choose
    ng-if="ctrl.direction==='row'"
    title="Self Vert."
    items="ctrl.selfAlign_['row']" 
    ng-model="ctrl.alignSelf"
    ng-change="ctrl.alignSelfChanged()"> 
</wb-ui-setting-choose>
<wb-ui-setting-choose
    ng-if="ctrl.direction==='column'"
    title="Self Horz."
    items="ctrl.selfAlign_['column']" 
    ng-model="ctrl.alignSelf"
    ng-change="ctrl.alignSelfChanged()"> 
</wb-ui-setting-choose>
