<!-- Created by mgh on 8/10/2016. -->
<!--
Margin and padding setting
 -->

<md-list class="wb-setting-panel">

    <!-- SECTION: margin -->
    <!-- uniform margin -->
    <md-subheader class="md-no-sticky">Margin</md-subheader>

    <!-- are all sides have equal margin? -->
    <wb-ui-setting-on-off-switch title="All Equal?" icon="rounded_corner" value="wbModel.style.margin.isUniform"></wb-ui-setting-on-off-switch>

    <!-- uniform margin as a text-box -->
    <wb-ui-setting-number ng-show="wbModel.style.margin.isUniform" title="Radius" icon="rounded_corner"  value="wbModel.style.margin.uniform"></wb-ui-setting-number>

    <!-- uniform margin as a slider -->
    <wb-ui-setting-number ng-show="wbModel.style.margin.isUniform" slider="" icon="wb-blank"  value="wbModel.style.margin.uniform"></wb-ui-setting-number>

    <!-- 4 controls for left-right-bottom-up margins -->
    <!-- left -->
    <wb-ui-setting-number ng-show="!wbModel.style.margin.isUniform" title="Radius" icon="rounded_corner"  value="wbModel.style.margin.left"></wb-ui-setting-number>

    <!-- right -->
    <wb-ui-setting-number ng-show="!wbModel.style.margin.isUniform" title="Radius" icon="rounded_corner"  value="wbModel.style.margin.right"></wb-ui-setting-number>

    <!-- top -->
    <wb-ui-setting-number ng-show="!wbModel.style.margin.isUniform" title="Radius" icon="rounded_corner"  value="wbModel.style.margin.top"></wb-ui-setting-number>

    <!-- bottom -->
    <wb-ui-setting-number ng-show="!wbModel.style.margin.isUniform" title="Radius" icon="rounded_corner"  value="wbModel.style.margin.bottom"></wb-ui-setting-number>


    <!-- SECTION: Padding -->
    <!-- uniform padding -->
    <md-subheader class="md-no-sticky">Padding</md-subheader>

    <!-- are all sides have equal padding? -->
    <wb-ui-setting-on-off-switch title="All Equal?" icon="rounded_corner" value="wbModel.style.padding.isUniform"></wb-ui-setting-on-off-switch>

    <!-- uniform padding as a text-box -->
    <wb-ui-setting-number ng-show="wbModel.style.padding.isUniform" title="Radius" icon="rounded_corner"  value="wbModel.style.padding.uniform"></wb-ui-setting-number>

    <!-- uniform padding as a slider -->
    <wb-ui-setting-number ng-show="wbModel.style.padding.isUniform" slider=""  icon="wb-blank"  value="wbModel.style.padding.uniform"></wb-ui-setting-number>

    <!-- 4 controls for left-right-bottom-up padding -->
    <!-- left -->
    <wb-ui-setting-number ng-show="!wbModel.style.padding.isUniform" title="Left" icon="rounded_corner"  value="wbModel.style.padding.left"></wb-ui-setting-number>

    <!-- right -->
    <wb-ui-setting-number ng-show="!wbModel.style.padding.isUniform" title="Right" icon="rounded_corner"  value="wbModel.style.padding.right"></wb-ui-setting-number>

    <!-- top -->
    <wb-ui-setting-number ng-show="!wbModel.style.padding.isUniform" title="Top" icon="rounded_corner"  value="wbModel.style.padding.top"></wb-ui-setting-number>

    <!-- bottom -->
    <wb-ui-setting-number ng-show="!wbModel.style.padding.isUniform" title="Down" icon="rounded_corner"  value="wbModel.style.padding.down"></wb-ui-setting-number>

</md-list>
