<!-- Created by mgh on 8/10/2016. -->
<!--
Margin and padding setting
 -->

<md-list class="wb-setting-panel">

    <!-- SECTION: margin -->
    <!-- uniform margin -->
    <md-subheader 
    	class="md-no-sticky">Margin</md-subheader>

    <!-- are all sides have equal margin? -->
    <wb-ui-setting-on-off-switch 
    	title="All Equal?" 
    	icon="filter_none" 
    	value="wbModel.style.margin.isUniform">
    </wb-ui-setting-on-off-switch>

    <!-- uniform margin as a text-box -->
    <md-input-container 
    	ng-show="wbModel.style.margin.isUniform" 
		class="md-icon-float md-block">
		<label>Margin Value</label>
		<input ng-model="wbModel.style.margin.uniform" type="text">
	</md-input-container>

    <!-- uniform margin as a slider -->
    <wb-ui-setting-number 
    	ng-show="wbModel.style.margin.isUniform" 
    	slider="" 
    	icon="wb-blank"  
    	value="wbModel.style.margin.uniform">
    </wb-ui-setting-number>

    <!-- 4 controls for left-right-bottom-up margins -->
    <md-input-container 
    	ng-show="!wbModel.style.margin.isUniform" 
		class="md-icon-float md-block">
		<label>Left Margin</label>
		<input ng-model="wbModel.style.margin.left" type="text">
	</md-input-container>
    <md-input-container 
    	ng-show="!wbModel.style.margin.isUniform" 
		class="md-icon-float md-block">
		<label>Right Margin</label>
		<input ng-model="wbModel.style.margin.right" type="text">
	</md-input-container>
    <md-input-container 
    	ng-show="!wbModel.style.margin.isUniform" 
		class="md-icon-float md-block">
		<label>Top Margin</label>
		<input ng-model="wbModel.style.margin.top" type="text">
	</md-input-container>
    <md-input-container 
    	ng-show="!wbModel.style.margin.isUniform" 
		class="md-icon-float md-block">
		<label>Bottom Margin</label>
		<input ng-model="wbModel.style.margin.bottom" type="text">
	</md-input-container>

    <!-- SECTION: Padding -->
    <!-- uniform padding -->
    <md-subheader class="md-no-sticky">Padding</md-subheader>

    <!-- are all sides have equal padding? -->
    <wb-ui-setting-on-off-switch 
    	title="All Equal?" 
    	icon="settings_overscan" 
    	value="wbModel.style.padding.isUniform">
    </wb-ui-setting-on-off-switch>

    <!-- uniform padding as a text-box -->
    <md-input-container 
    	ng-show="wbModel.style.padding.isUniform" 
		class="md-icon-float md-block">
		<label>Padding Value</label>
		<input ng-model="wbModel.style.padding.uniform" type="text">
	</md-input-container>

    <!-- uniform padding as a slider -->
    <wb-ui-setting-number 
    	ng-show="wbModel.style.padding.isUniform" 
    	slider=""  
    	icon="wb-blank"  
    	value="wbModel.style.padding.uniform">
    </wb-ui-setting-number>

    <!-- 4 controls for left-right-bottom-up padding -->
    <md-input-container 
    	ng-show="!wbModel.style.padding.isUniform" 
		class="md-icon-float md-block">
		<label>Left Padding</label>
		<input ng-model="wbModel.style.padding.left" type="text">
	</md-input-container>
    <md-input-container 
    	ng-show="!wbModel.style.padding.isUniform" 
		class="md-icon-float md-block">
		<label>Right Padding</label>
		<input ng-model="wbModel.style.padding.right" type="text">
	</md-input-container>
    <md-input-container 
    	ng-show="!wbModel.style.padding.isUniform" 
		class="md-icon-float md-block">
		<label>Top Padding</label>
		<input ng-model="wbModel.style.padding.top" type="text">
	</md-input-container>
    <md-input-container 
    	ng-show="!wbModel.style.padding.isUniform" 
		class="md-icon-float md-block">
		<label>Bottom Padding</label>
		<input ng-model="wbModel.style.padding.bottom" type="text">
	</md-input-container>
</md-list>
