<!-- Set min and max for width and height css property

Created by mgh.
-->

<div layout="column">

    <!--Preview Box-->
    <div class="preview-box wb-flex-item-stretch" ng-hide="true">
        <div class="header">Preview</div>
        <div class="wb-flex preview-area wb-flex-justify-content-center">
        <div class="widget wb-flex-item-center"
             ng-class="wbModel.style.flexAlignItem"
             ng-style="{
                'min-width':wbModel.style.minWidth,
                'min-height':wbModel.style.minHeight,
                'max-width':(wbModel.style.maxWidth==0) ? 'none' : wbModel.style.maxWidth,
                'max-height':(wbModel.style.maxHeight==0)?'none':wbModel.style.maxHeight}"
             layout="row" layout-align="center center"
             style="border: 2px dotted"><p>
            item</p></div>
    </div>
</div>

<div class="setting-panel"
     layout="column"
     layout-gt-sm="row">

    <!-- Min panel -->
    <md-list>
        <md-subheader>MIN</md-subheader>
        <md-divider style="margin-bottom: 1em "></md-divider>
        <div layout="row" class="wb-flex-align-items-center">
            <span>Width<md-tooltip>set value "0" for ignoring</md-tooltip></span>
            <md-slider flex min="0" max="100" ng-model="wbModel.style.minWidth">
            </md-slider>
            <md-input-container>
                <input style="width: 50px" flex type="number" ng-model="wbModel.style.minWidth">
            </md-input-container>
        </div>
        <div layout="row" class="wb-flex-align-items-center">
            <span>Height<md-tooltip>set value "0" for ignoring</md-tooltip></span>
            <md-slider flex min="0" max="100" ng-model="wbModel.style.minHeight">
            </md-slider>
            <md-input-container>
                <input style="width: 50px" flex type="number" ng-model="wbModel.style.minHeight">
            </md-input-container>
        </div>

    </md-list>

    <!-- max panel -->
    <md-list>
        <md-subheader>MAX</md-subheader>
        <md-divider style="margin-bottom: 1em "></md-divider>
        <div layout="row" class="wb-flex-align-items-center">
            <span>Width<md-tooltip>set value "0" for ignoring</md-tooltip></span>
            <md-slider flex min="0" max="100" ng-model="wbModel.style.maxWidth">
            </md-slider>
            <md-input-container>
                <input style="width: 50px" flex ng-model="wbModel.style.maxWidth">
            </md-input-container>
        </div>
        <div layout="row" class="wb-flex-align-items-center">
            <span>Height<md-tooltip>set value "0" for ignoring</md-tooltip></span>
            <md-slider flex min="0" max="100" ng-model="wbModel.style.maxHeight">
            </md-slider>
            <md-input-container>
                <input style="width: 50px" flex  ng-model="wbModel.style.maxHeight">
            </md-input-container>
        </div>
    </md-list>
</div>

</div>