<!-- Margin and Padding setting -->

<!--Margin-->
<md-subheader 
	class="md-no-sticky">
	<span translate>Margin</span>
</md-subheader>

<!--All equal-->
<wb-ui-setting-length
    title="All"
    ng-model="margin.all"
    extra-values = "['length' , 'auto' , 'initial', 'inherit']">
</wb-ui-setting-length>

<md-divider></md-divider>

<!--top left-->
<wb-ui-setting-length
    title="Top"
    ng-model="margin.top"
    extra-values = "['length' , 'auto' , 'initial', 'inherit']">
</wb-ui-setting-length>

<!--top right-->
<wb-ui-setting-length
    title="Right"
    ng-model="margin.right"
    extra-values = "['length' , 'auto' , 'initial', 'inherit']">
</wb-ui-setting-length>

<!--bottom right-->
<wb-ui-setting-length
    title="Bottom"
    ng-model="margin.bottom"
    extra-values = "['length' , 'auto' , 'initial', 'inherit']">
</wb-ui-setting-length>

<!--bottom left-->
<wb-ui-setting-length
    title="Left"
    ng-model="margin.left"
    extra-values = "['length' , 'auto' , 'initial', 'inherit']">
</wb-ui-setting-length>


<!--
Padding section
<md-subheader 
	class="md-no-sticky">
	<span translate>Padding</span>
</md-subheader>

All equal
<wb-ui-setting-length
    title="Padding"
    ng-model="all"
    extra-values = "['length' , 'inherit']">
</wb-ui-setting-length>

top left
<wb-ui-setting-length
    title="Top left"
    ng-model="topLeft"
    extra-values = "['length' , 'inherit']">
</wb-ui-setting-length>

top right
<wb-ui-setting-length
    title="Top right"
    ng-model="all"
    extra-values = "['length' , 'inherit']">
</wb-ui-setting-length>

bottom right
<wb-ui-setting-length
    title="Bottom right"
    ng-model="all"
    extra-values = "['length' , 'inherit']">
</wb-ui-setting-length>

bottom left
<wb-ui-setting-length
    title="Bottom left"
    ng-model="all"
    extra-values = "['length' , 'inherit']">
</wb-ui-setting-length>-->

