<!-- Set min and max for width and height css property

Created by mgh.
-->
<md-list class="wb-setting-panel">

    <!-- MIN Section -->
    <md-subheader class="md-no-sticky">Min</md-subheader>

    <!-- min width -->
    <md-list-item>
        <md-icon>rounded_corner</md-icon>
        <p>Min Width</p>
        <md-input-container
                class="wb-input-container-without-label">
            <input
                    style="width: 40px"
                    type="number"
                    ng-model="wbModel.style.minWidth"
                    flex>
        </md-input-container>
    </md-list-item>

    <!-- min height -->
    <md-list-item>
        <md-icon>rounded_corner</md-icon>
        <p>Min Height</p>
        <md-input-container
                class="wb-input-container-without-label">
            <input
                    style="width: 40px"
                    type="number"
                    ng-model="wbModel.style.minHeight"
                    flex>
        </md-input-container>
    </md-list-item>


    <!-- MAX Section -->
    <md-subheader class="md-no-sticky">Max</md-subheader>

    <!-- max width -->
    <md-list-item>
        <md-icon>rounded_corner</md-icon>
        <p>Max Width</p>
        <md-input-container
                class="wb-input-container-without-label">
            <input
                    style="width: 40px"
                    type="number"
                    ng-model="wbModel.style.maxWidth"
                    flex>
        </md-input-container>
    </md-list-item>

    <!-- max height -->
    <md-list-item>
        <md-icon>rounded_corner</md-icon>
        <p>Max Height</p>
        <md-input-container
                class="wb-input-container-without-label">
            <input
                    style="width: 40px"
                    type="number"
                    ng-model="wbModel.style.maxHeight"
                    flex>
        </md-input-container>
    </md-list-item>
</md-list>

</div>
