<!-- Set min and max for width and height css property

Created by mgh.
-->
<md-list class="wb-setting-panel">

    <!-- SECTION: Min -->
    <md-subheader class="md-no-sticky">Min</md-subheader>

    <!-- min width -->
    <wb-ui-setting-number title="Min Width" icon="face" value="wbModel.style.minWidth"></wb-ui-setting-number>

    <!-- min height -->
    <wb-ui-setting-number title="Min Height" icon="face" value="wbModel.style.minHeight"></wb-ui-setting-number>


    <!-- SECTION: Max -->
    <md-subheader class="md-no-sticky">Max</md-subheader>

    <!-- max width -->
    <wb-ui-setting-number title="Max Width" icon="face" value="wbModel.style.maxWidth"></wb-ui-setting-number>

    <!-- max height -->
    <wb-ui-setting-number title="Max Height" icon="face" value="wbModel.style.maxHeight"></wb-ui-setting-number>

</md-list>
