<!-- 

Set size for widgets size
contains:

    size
    Min Size
    Max Size

@author masood<masoodzarei64@gmail.com>
@author maso<mostafa.barmshory@dpq.co.ir>

-->
<!--Size section-->
<md-subheader 
    class="md-hue-3">
    <span translate>Size</span>
</md-subheader>

<wb-ui-setting-length
    title="Width"
    description="Set the width"
    ng-model="ctrl.width"
    ng-change="ctrl.widthChanged()"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>

<wb-ui-setting-length
    title="Height"
    description="Set the height"
    ng-model="ctrl.height"
    ng-change="ctrl.heightChanged()"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>


<md-subheader 
    class="md-hue-3">
    <span translate>Min Size</span>
</md-subheader>

<wb-ui-setting-length
    title="Min width"
    description="Set the minimum width"
    ng-model="ctrl.minWidth"
    ng-change="ctrl.minWidthChanged()"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>

<wb-ui-setting-length
    title="Min height"
    description="Set the minimum height"
    ng-model="ctrl.minHeight"
    ng-change="ctrl.minHeightChanged()"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>
  

<md-subheader 
    class="md-hue-3">
    <span translate>Max size</span>
</md-subheader>

<wb-ui-setting-length
    title="Max width"
    description="Set the maximum width"
    ng-model="ctrl.maxWidth"
    ng-change="ctrl.maxWidthChanged()"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>

<wb-ui-setting-length
    title="Max height"
    description="Set the maximum height"
    ng-model="ctrl.maxHeight"
    ng-change="ctrl.maxHeightChanged()"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>
