<fieldset
	layout="column">
	<legend translate>Background</legend>
	<wb-ui-setting-text
		ng-model="ctrl.style.background"
		ng-model-change="ctrl.setStyle('background', ctrl.style.background)"
		wb-title="Background"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-color
		ng-model="ctrl.style.backgroundColor"
		ng-model-change="ctrl.setStyle('backgroundColor', ctrl.style.backgroundColor)"
		wb-title="Color"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-color>
	<wb-ui-setting-text
		ng-model="ctrl.style.backgroundImage"
		ng-model-change="ctrl.setStyle('backgroundImage', ctrl.style.backgroundImage)"
		wb-title="Image"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.backgroundPosition"
		ng-model-change="ctrl.setStyle('backgroundPosition', ctrl.style.backgroundPosition)"
		wb-title="Position"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.backgroundSize"
		ng-model-change="ctrl.setStyle('backgroundSize', ctrl.style.backgroundSize)"
		wb-title="Size"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.backgroundRepeat"
		ng-model-change="ctrl.setStyle('backgroundRepeat', ctrl.style.backgroundRepeat)"
		wb-title="Repeat"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.backgroundOrigin"
		ng-model-change="ctrl.setStyle('backgroundOrigin', ctrl.style.backgroundOrigin)"
		wb-title="Origin"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.backgroundClip"
		ng-model-change="ctrl.setStyle('backgroundClip', ctrl.style.backgroundClip)"
		wb-title="Clip"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.backgroundAttachment"
		ng-model-change="ctrl.setStyle('backgroundAttachment', ctrl.style.backgroundAttachment)"
		wb-title="Attachment"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
</fieldset>

