<!-- Shadows setting -->

<div layout="row" flex>
    <md-button ng-click="ctrl.addShadow()">
        <span translate="">New shadow</span>
    </md-button>
</div>

<!-- SECTION: Settings for shadows -->
<div 
    ng-repeat="shadow in wbModel.style.shadows track by $index" 
    layout='column'>
    <md-toolbar 
        style='padding-left: 16px; padding-right: 16px;' 
        class='md-hue-3'>
        <div layout='row' layout-align='end center'>

            <p flex>Shadow {{$index + 1}}</p>
            <md-button 
                flex='10' 
                class="md-icon-button" 
                ng-click="ctrl.remove($index)">
                <wb-icon>delete</wb-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div
        layout='column'>
        <wb-ui-setting-length
            title="Horizontal Shift"
            ng-model="shadow.hShift">
        </wb-ui-setting-length>

        <wb-ui-setting-length
            title="Vertical Shift"
            ng-model="shadow.vShift">
        </wb-ui-setting-length>

        <wb-ui-setting-length
            title="Blur"
            ng-model="shadow.blur">
        </wb-ui-setting-length>

        <wb-ui-setting-length
            title="Spread"
            ng-model="shadow.spread">
        </wb-ui-setting-length>

        <wb-ui-setting-color 
            title="Color" 
            wb-ui-setting-clear-button="true"
            wb-ui-setting-preview="true"
            ng-model="shadow.color">
        </wb-ui-setting-color>

        <md-checkbox 
            ng-model="shadow.inset" 
            aria-label="Inset">
            <span translate="">Inset</span>
        </md-checkbox>
    </div>
</div>


