<fieldset
	layout="column">
	<legend translate>Text</legend>
	<wb-ui-setting-text
		ng-model="ctrl.style.textAlignLast"
		ng-model-change="ctrl.setStyle('style.textAlignLast', ctrl.style.textAlignLast)"
		wb-title="textAlignLast"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.textDecoration"
		ng-model-change="ctrl.setStyle('style.textDecoration', ctrl.style.textDecoration)"
		wb-title="textDecoration"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.textDecorationColor"
		ng-model-change="ctrl.setStyle('style.textDecorationColor', ctrl.style.textDecorationColor)"
		wb-title="textDecorationColor"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.textDecorationLine"
		ng-model-change="ctrl.setStyle('style.textDecorationLine', ctrl.style.textDecorationLine)"
		wb-title="textDecorationLine"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.textDecorationStyle"
		ng-model-change="ctrl.setStyle('style.textDecorationStyle', ctrl.style.textDecorationStyle)"
		wb-title="textDecorationStyle"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.textIndent"
		ng-model-change="ctrl.setStyle('style.textIndent', ctrl.style.textIndent)"
		wb-title="textIndent"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.textJustify"
		ng-model-change="ctrl.setStyle('style.textJustify', ctrl.style.textJustify)"
		wb-title="textJustify"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.textOverflow"
		ng-model-change="ctrl.setStyle('style.textOverflow', ctrl.style.textOverflow)"
		wb-title="textOverflow"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.textShadow"
		ng-model-change="ctrl.setStyle('style.textShadow', ctrl.style.textShadow)"
		wb-title="textShadow"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.textTransform"
		ng-model-change="ctrl.setStyle('style.textTransform', ctrl.style.textTransform)"
		wb-title="textTransform"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Font</legend>
	<wb-ui-setting-text
		ng-model="ctrl.style.font"
		ng-model-change="ctrl.setStyle('style.font', ctrl.style.font)"
		wb-title="font"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.fontFamily"
		ng-model-change="ctrl.setStyle('style.fontFamily', ctrl.style.fontFamily)"
		wb-title="fontFamily"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.fontKerning"
		ng-model-change="ctrl.setStyle('style.fontKerning', ctrl.style.fontKerning)"
		wb-title="fontKerning"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.fontSize"
		ng-model-change="ctrl.setStyle('style.fontSize', ctrl.style.fontSize)"
		wb-title="fontSize"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.fontSizeAdjust"
		ng-model-change="ctrl.setStyle('style.fontSizeAdjust', ctrl.style.fontSizeAdjust)"
		wb-title="fontSizeAdjust"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.fontStretch"
		ng-model-change="ctrl.setStyle('style.fontStretch', ctrl.style.fontStretch)"
		wb-title="fontStretch"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.fontStyle"
		ng-model-change="ctrl.setStyle('style.fontStyle', ctrl.style.fontStyle)"
		wb-title="fontStyle"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.fontVariant"
		ng-model-change="ctrl.setStyle('style.fontVariant', ctrl.style.fontVariant)"
		wb-title="fontVariant"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.fontWeight"
		ng-model-change="ctrl.setStyle('style.fontWeight', ctrl.style.fontWeight)"
		wb-title="fontWeight"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Writing</legend>
	<wb-ui-setting-text
		ng-model="ctrl.style.hyphens"
		ng-model-change="ctrl.setStyle('style.hyphens', ctrl.style.hyphens)"
		wb-title="hyphens"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.letterSpacing"
		ng-model-change="ctrl.setStyle('style.letterSpacing', ctrl.style.letterSpacing)"
		wb-title="letterSpacing"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.lineHeight"
		ng-model-change="ctrl.setStyle('style.lineHeight', ctrl.style.lineHeight)"
		wb-title="lineHeight"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.quotes"
		ng-model-change="ctrl.setStyle('style.quotes', ctrl.style.quotes)"
		wb-title="quotes"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.tabSize"
		ng-model-change="ctrl.setStyle('style.tabSize', ctrl.style.tabSize)"
		wb-title="tabSize"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.verticalAlign"
		ng-model-change="ctrl.setStyle('style.verticalAlign', ctrl.style.verticalAlign)"
		wb-title="verticalAlign"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.whiteSpace"
		ng-model-change="ctrl.setStyle('style.whiteSpace', ctrl.style.whiteSpace)"
		wb-title="whiteSpace"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.wordBreak"
		ng-model-change="ctrl.setStyle('style.wordBreak', ctrl.style.wordBreak)"
		wb-title="wordBreak"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.wordSpacing"
		ng-model-change="ctrl.setStyle('style.wordSpacing', ctrl.style.wordSpacing)"
		wb-title="wordSpacing"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.wordWrap"
		ng-model-change="ctrl.setStyle('style.wordWrap', ctrl.style.wordWrap)"
		wb-title="wordWrap"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.writingMode"
		ng-model-change="ctrl.setStyle('style.writingMode', ctrl.style.writingMode)"
		wb-title="writingMode"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.userSelect"
		ng-model-change="ctrl.setStyle('style.userSelect', ctrl.style.userSelect)"
		wb-title="userSelect"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Local</legend>
	<wb-ui-setting-text
		ng-model="ctrl.style.direction"
		ng-model-change="ctrl.setStyle('style.direction', ctrl.style.direction)"
		wb-title="direction"
		wb-description="">
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.unicodeBidi"
		ng-model-change="ctrl.setStyle('style.unicodeBidi', ctrl.style.unicodeBidi)"
		wb-title="unicodeBidi"
		wb-description="">
	</wb-ui-setting-text>
</fieldset>