<fieldset
	layout="column">
	<legend translate>Animation</legend>
	<wb-ui-setting-text
		ng-model="ctrl.style.animation"
		ng-model-change="ctrl.setStyle('style.animation', ctrl.style.animation)"
		wb-title="Animation"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.animationName"
		ng-model-change="ctrl.setStyle('animationName', ctrl.style.animationName)"
		wb-title="Name"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.animationDuration"
		ng-model-change="ctrl.setStyle('animationDuration', ctrl.style.animationDuration)"
		wb-title="Duration"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.animationTimingFunction"
		ng-model-change="ctrl.setStyle('animationTimingFunction', ctrl.style.animationTimingFunction)"
		wb-title="Timing Function"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.animationDelay"
		ng-model-change="ctrl.setStyle('animationDelay', ctrl.style.animationDelay)"
		wb-title="Delay"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.animationIterationCount"
		ng-model-change="ctrl.setStyle('animationIterationCount', ctrl.style.animationIterationCount)"
		wb-title="Iteration Count"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.animationDirection"
		ng-model-change="ctrl.setStyle('animationDirection', ctrl.style.animationDirection)"
		wb-title="Direction"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.animationDirection"
		ng-model-change="ctrl.setStyle('animationDirection', ctrl.style.animationDirection)"
		wb-title="Direction"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.animationFillMode"
		ng-model-change="ctrl.setStyle('animationFillMode', ctrl.style.animationFillMode)"
		wb-title="Fill Mode"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.style.animationPlayState"
		ng-model-change="ctrl.setStyle('animationPlayState', ctrl.style.animationPlayState)"
		wb-title="Play State"
		wb-description=""
		wb-action-clean>
	</wb-ui-setting-text>
</fieldset>

