<!-- 

Set size for widgets size
contains:

    size
    Min Size
    Max Size

@author masood<masoodzarei64@gmail.com>
@author maso<mostafa.barmshory@dpq.co.ir>

-->
<!--Size section-->
<md-subheader 
    class="md-hue-3">
    <span translate>Size</span>
</md-subheader>

<wb-ui-setting-length
    title="Width"
    description="Set the width"
    ng-model="wbModel.style.size.width"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>

<wb-ui-setting-length
    title="Height"
    description="Set the height"
    ng-model="wbModel.style.size.height"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>


<md-subheader 
    class="md-hue-3">
    <span translate>Min Size</span>
</md-subheader>

<wb-ui-setting-length
    title="Min width"
    description="Set the minimum width"
    ng-model="wbModel.style.size.minWidth"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>

<wb-ui-setting-length
    title="Min height"
    description="Set the minimum height"
    ng-model="wbModel.style.size.minHeight"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>
  

<md-subheader 
    class="md-hue-3">
    <span translate>Max size</span>
</md-subheader>

<wb-ui-setting-length
    title="Max width"
    description="Set the maximum width"
    ng-model="wbModel.style.size.maxWidth"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>

<wb-ui-setting-length
    title="Max height"
    description="Set the maximum height"
    ng-model="wbModel.style.size.maxHeight"
    extra-values="['auto', 'length', 'initial', 'inherit']">
</wb-ui-setting-length>
