
<!--
Element Identifier

Contains:
- id
- name

-->
<fieldset
	layout="column">
	<legend translate>Identifier</legend>
	<md-input-container style="margin: 0px;margin-top: 10px">
		<label translate="">Id</label>
		<input 
			type="text" 
			ng-model="ctrl.id"
			ng-change="ctrl.setProperty('id', ctrl.id)">
	</md-input-container>
	<md-input-container style="margin: 0px">
		<label translate="">Name</label>
		<input 
			type="text" 
			ng-model="ctrl.name"
			ng-change="ctrl.setProperty('name', ctrl.name)">
	</md-input-container>
	<md-input-container style="margin: 0px">
		<label translate="">Title</label>
		<input 
			type="text" 
			ng-model="ctrl.title"
			ng-change="ctrl.setProperty('title', ctrl.title)">
	</md-input-container>
	<md-input-container style="margin: 0px">
		<label translate="">Class</label>
		<input 
			type="text" 
			ng-model="ctrl.class"
			ng-change="ctrl.setProperty('class', ctrl.class)">
	</md-input-container>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Language</legend>
	<md-input-container style="margin: 0px;margin-top: 10px">
		<label translate="">Direction</label>
		<input 
			type="text" 
			ng-model="ctrl.dir"
			ng-change="ctrl.setProperty('dir', ctrl.dir)">
	</md-input-container>
	<md-input-container style="margin: 0px;margin-top: 10px">
		<label translate="">Language</label>
		<input 
			type="text" 
			ng-model="ctrl.lang"
			ng-change="ctrl.setProperty('lang', ctrl.lang)">
	</md-input-container>
	<md-input-container style="margin: 0px;margin-top: 10px">
		<label translate="">Translate</label>
		<input 
			type="text" 
			ng-model="ctrl.translate"
			ng-change="ctrl.setProperty('translate', ctrl.translate)">
	</md-input-container>
	<md-input-container style="margin: 0px; margin-top: 10px">
		<label translate="">Spell check</label>
		<input 
			type="text" 
			ng-model="ctrl.spellcheck"
			ng-change="ctrl.setProperty('spellcheck', ctrl.spellcheck)">
	</md-input-container>
</fieldset>

<fieldset
	layout="column">
	<legend translate>Access</legend>
	<md-input-container style="margin: 0px;margin-top: 10px">
		<label translate="">Access Key</label>
		<input 
			type="text" 
			ng-model="ctrl.accesskey"
			ng-change="ctrl.setProperty('accesskey', ctrl.accesskey)">
	</md-input-container>
	<md-input-container style="margin: 0px;margin-top: 10px">
		<label translate="">contenteditable</label>
		<input 
			type="text" 
			ng-model="ctrl.contenteditable"
			ng-change="ctrl.setProperty('contenteditable', ctrl.contenteditable)">
	</md-input-container>
	<md-input-container style="margin: 0px;margin-top: 10px">
		<label translate="">tabindex</label>
		<input 
			type="text" 
			ng-model="ctrl.tabindex"
			ng-change="ctrl.setProperty('tabindex', ctrl.tabindex)">
	</md-input-container>
	<md-input-container style="margin: 0px;margin-top: 10px">
		<label translate="">hidden</label>
		<input 
			type="text" 
			ng-model="ctrl.hidden"
			ng-change="ctrl.setProperty('hidden', ctrl.hidden)">
	</md-input-container>
</fieldset>

<!--
General setting

Contains:
- color (foreground)
- cursor
- opacity

Created by masood.
@author masood(masoodzarei64@gmail.com)
@author maso(mostafa.barmshory@dpq.co.ir)
-->

<!--   Widget direction -->
<fieldset
   	layout="column">
	<legend translate>Style</legend>
    <md-input-container 
    	layout-align="end center">
		<md-select 
			ng-model="ctrl.direction" 
			ng-change="ctrl.setProperty('style.direction', ctrl.direction)"
			style="min-width: 200px;">
			<md-option 
				ng-value="'ltr'">
				<span translate>Left to right</span>
			</md-option>
			<md-option 
				ng-value="'rtl'">
				<span translate>Right to left</span>
			</md-option>
			<md-option 
				ng-value="'inherit'">
				<span translate>Inherit</span>
			</md-option>
			<md-option 
				ng-value="'initial'">
				<span translate>Initial</span>
			</md-option>
		</md-select>
	</md-input-container>
    <!--COLOR SECTION-->
    <wb-ui-setting-color 
        title="Color" 
        wb-ui-setting-clear-button="true"
        wb-ui-setting-preview="true"
        ng-model="ctrl.color"
    	ng-change="ctrl.setProperty('style.color', ctrl.color)">
    </wb-ui-setting-color>
    <md-input-container
    	class="md-icon-float md-icon-right md-block">
		<wb-icon>mouse</wb-icon>
		<label translate>Cursor</label>
		<md-select 
			style="max-width:75px;"
			ng-model="ctrl.cursor"
			ng-change="ctrl.setProperty('style.cursor', ctrl.cursor)">
			<md-option 
				value="alias"
				tooltip="The cursor indicates an alias of something is to be created"
				translate="">Alias</md-option>
			<md-option 
				value="all-scroll"
				tooltip="The cursor indicates that something can be scrolled in any direction"
				translate="">All Acroll</md-option>
			<md-option 
				value="auto"
				tooltip="Default. The browser sets a cursor"
				translate="">Auto</md-option>
			<md-option 
				value="cell"
				tooltip="The cursor indicates that a cell (or set of cells) may be selected"
				translate="">Cell</md-option>
			<md-option 
				value="context-menu"
				tooltip="The cursor indicates that a context-menu is available"
				translate="">Context Menu</md-option>
			<md-option 
				value="col-resize"
				tooltip="The cursor indicates that the column can be resized horizontally"
				translate="">Columne resize</md-option>
			<md-option 
				value="copy"
				tooltip="The cursor indicates something is to be copied"
				translate="">Copy</md-option>
			<md-option 
				value="crosshair"
				tooltip="The cursor render as a crosshair"
				translate="">Crosshair</md-option>
			<md-option 
				value="default"
				tooltip="The default cursor"
				translate="">Default</md-option>
			<md-option 
				value="e-resize"
				tooltip="The cursor indicates that an edge of a box is to be moved right (east)"
				translate="">Edge Resize</md-option>
			<md-option 
				value="ew-resize"
				tooltip="Indicates a bidirectional resize cursor"
				translate="">Bidirectional Resize</md-option>
			<md-option 
				value="grab"
				tooltip="The cursor indicates that something can be grabbed"
				translate="">Grab</md-option>
			<md-option 
				value="grabbing"
				tooltip="The cursor indicates that something can be grabbed"
				translate="">Grabbing</md-option>
			<md-option 
				value="help"
				tooltip="The cursor indicates that help is available"
				translate="">Help</md-option>
			<md-option 
				value="move"
				tooltip="The cursor indicates something is to be moved"
				translate="">Move</md-option>
			<md-option 
				value="n-resize"
				tooltip="The cursor indicates that an edge of a box is to be moved up (north)"
				translate="">North Resize</md-option>
			<md-option 
				value="ne-resize"
				tooltip="The cursor indicates that an edge of a box is to be moved up and right (north/east)"
				translate="">North/East Resize</md-option>
			<md-option 
				value="ns-resize"
				tooltip="Indicates a bidirectional resize cursor"
				translate="">NS Bidirectional Resize</md-option>
			<md-option 
				value="nw-resize"
				tooltip="The cursor indicates that an edge of a box is to be moved up and left (north/west)"
				translate="">North/West Resize</md-option>
			<md-option 
				value="nwse-resize"
				tooltip="Indicates a bidirectional resize cursor"
				translate="">Bidirectional Resize</md-option>
			<md-option 
				value="no-drop"
				tooltip="The cursor indicates that the dragged item cannot be dropped here"
				translate="">No Drop</md-option>
			<md-option 
				value="none"
				tooltip="No cursor is rendered for the element"
				translate="">None</md-option>
			<md-option 
				value="not-allowed"
				tooltip="The cursor indicates that the requested action will not be executed"
				translate="">Not Allowed</md-option>
			<md-option 
				value="pointer"
				tooltip="The cursor is a pointer and indicates a link"
				translate="">Pointer</md-option>
			<md-option 
				value="progress"
				tooltip="The cursor indicates that the program is busy (in progress)"
				translate="">Progress</md-option>
			<md-option 
				value="row-resize"
				tooltip="The cursor indicates that the row can be resized vertically"
				translate="">Row Resize</md-option>
			<md-option 
				value="s-resize"
				tooltip="The cursor indicates that an edge of a box is to be moved down (south)"
				translate="">South Resize</md-option>
			<md-option 
				value="se-resize"
				tooltip="The cursor indicates that an edge of a box is to be moved down and right (south/east)"
				translate="">South/East Resize</md-option>
			<md-option 
				value="sw-resize"
				tooltip="The cursor indicates that an edge of a box is to be moved down and left (south/west)"
				translate="">South/West Resize</md-option>
			<md-option 
				value="text"
				tooltip="The cursor indicates text that may be selected"
				translate="">Text</md-option>
			<md-option 
				value="vertical-text"
				tooltip="The cursor indicates vertical-text that may be selected"
				translate="">Vertical text</md-option>
			<md-option 
				value="w-resize"
				tooltip="The cursor indicates that an edge of a box is to be moved left (west)"
				translate="">West Resize</md-option>
			<md-option 
				value="wait"
				tooltip="The cursor indicates that the program is busy"
				translate="">Wait</md-option>
			<md-option 
				value="zoom-in"
				tooltip="The cursor indicates that something can be zoomed in"
				translate="">Zoom In</md-option>
			<md-option 
				value="zoom-out'"
				tooltip="The cursor indicates that something can be zoomed out"
				translate="">Zoom Out</md-option>
			<md-option 
				value="initial"
				tooltip="Sets this property to its default value. Read about initial"
				translate="">Initial</md-option>
			<md-option 
				value="inherit"
				tooltip="Inherits this property from its parent element. Read about inherit"
				translate="">Inherit</md-option>
		</md-select>
    </md-input-container> 
</fieldset>


<!--OPACITY SECTION-->
<fieldset
	layout="column">
	<legend translate>Visibility</legend>
	<md-input-container
		layout-align="end center">
		<label translate>Visibility</label>
		<md-select 
			ng-model="ctrl.visibility" 
			ng-change="ctrl.setProperty('style.visibility', ctrl.visibility)"
			style="min-width: 200px;"
			disabled>
			<md-option 
				ng-value="'visible'">
				<span translate>Visible</span>
			</md-option>
			<md-option 
				ng-value="'hidden'">
				<span translate>Hidden</span>
			</md-option>
		</md-select>
	</md-input-container>
	<md-input-container 
		class="md-icon-float md-icon-right md-block">
		<wb-icon>opacity</wb-icon>
		<label translate>Opacity</label>
		<input 
			type="text" 
			ng-model="ctrl.opacity"
			ng-change="ctrl.setProperty('style.opacity', ctrl.opacity)">
	</md-input-container>
</fieldset>


<!--OPACITY SECTION-->
<fieldset
	layout="column">
	<legend translate>Overflow</legend>
	<md-input-container
    	layout-align="end center">
    	<label translate>X</label>
		<md-select 
			ng-model="ctrl.overflowX" 
			ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
			ng-change="ctrl.setProperty('style.overflow.x', ctrl.overflowX)"
			style="min-width: 200px;">
			<md-option 
				ng-value="'visible'">
				<span translate>Visible</span>
			</md-option>
			<md-option 
				ng-value="'hidden'">
				<span translate>Hidden</span>
			</md-option>
			<md-option 
				ng-value="'scroll'">
				<span translate>Scroll</span>
			</md-option>
			<md-option 
				ng-value="'auto'">
				<span translate>Auto</span>
			</md-option>
			<md-option 
				ng-value="'initial'">
				<span translate>Initial</span>
			</md-option>
			<md-option 
				ng-value="'inherit'">
				<span translate>Inherit</span>
			</md-option>
		</md-select>
	</md-input-container>
	<md-input-container
    	layout-align="end center">
    	<label translate>Y</label>
		<md-select 
			ng-model="ctrl.overflowY" 
			ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
			ng-change="ctrl.setProperty('style.overflow.y', ctrl.overflowY)"
			style="min-width: 200px;">
			<md-option 
				ng-value="'visible'">
				<span translate>Visible</span>
			</md-option>
			<md-option 
				ng-value="'hidden'">
				<span translate>Hidden</span>
			</md-option>
			<md-option 
				ng-value="'scroll'">
				<span translate>Scroll</span>
			</md-option>
			<md-option 
				ng-value="'auto'">
				<span translate>Auto</span>
			</md-option>
			<md-option 
				ng-value="'initial'">
				<span translate>Initial</span>
			</md-option>
			<md-option 
				ng-value="'inherit'">
				<span translate>Inherit</span>
			</md-option>
		</md-select>
	</md-input-container>
</fieldset>