<fieldset
    layout="column">
    <md-input-container style="margin: 0px;margin-top: 10px"
    	ng-repeat="name in [
				'autofocus',
				'cols',
				'dirname',
				'disabled',
				'form',
				'maxlength',
				'name',
				'placeholder',
				'readonly',
				'required',
				'rows',
				'wrap',
				'value',
				]">
        <label translate="">{{name}}</label>
        <input 
            type="text" 
            ng-model="ctrl[name]"
            ng-change="ctrl.setProperty(name, ctrl[name])">
    </md-input-container>
</fieldset>

