<!--
Text widget

set text using html text editor.

created by mgh.
-->
<!-- using tinymce wysiwyg editor -->
<textarea
	ui-tinymce="{
		 plugins : 'directionality contextmenu table link paste hr emoticons advlist autolink link lists advlist charmap print preview wordcount code anchor image imagetools visualchars',
		 toolbar: [
		 	'undo redo visualchars | styleselect | link image emoticons | hr ',
		 	'alignleft aligncenter alignright | ltr rtl | bold italic | numlist bullist ',
		 ],
		 contextmenu: 'link image inserttable | cell row column deletetable',
		 elementpath: true,
		 branding: false,
		 image_advtab: false
	}"
	ng-model="wbModel.text"
	flex>
</textarea>

