<fieldset
	layout="column">
    <legend translate>General</legend>
	<md-input-container class="md-block">
	    <label translate>Origin</label>
	    <input
	        ng-model="ctrl.origin"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateOrigin()">
	</md-input-container>
	<md-input-container class="md-block">
	    <label translate>style</label>
	    <input
	        ng-model="ctrl.style"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateStyle()">
	</md-input-container>
	<md-input-container class="md-block">
	    <label translate>Perspective</label>
	    <input
	        ng-model="ctrl.perspective"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updatePerspective()">
	</md-input-container>
</fieldset>

<fieldset
	layout="column">
    <legend translate>X</legend>
	<md-input-container class="md-block">
	    <label translate>translate</label>
	    <input
	        ng-model="ctrl.translateX"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateTranslateX()">
	</md-input-container>
	<md-input-container class="md-block">
	    <label translate>scale</label>
	    <input
	        ng-model="ctrl.scaleX"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateScaleX()">
	</md-input-container>
	<md-input-container class="md-block">
	    <label translate>rotate</label>
	    <input
	        ng-model="ctrl.rotateX"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateRotateX()">
	</md-input-container>
	<md-input-container class="md-block">
	    <label translate>skew</label>
	    <input
	        ng-model="ctrl.skewX"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateSkewX()">
	</md-input-container>
</fieldset>

<fieldset
	layout="column">
    <legend translate>Y</legend>
	<md-input-container class="md-block">
	    <label translate>translate</label>
	    <input
	        ng-model="ctrl.translateY"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateTranslateY()">
	</md-input-container>
	<md-input-container class="md-block">
	    <label translate>scale</label>
	    <input
	        ng-model="ctrl.scaleY"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateScaleY()">
	</md-input-container>
	<md-input-container class="md-block">
	    <label translate>rotate</label>
	    <input
	        ng-model="ctrl.rotateY"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateRotateY()">
	</md-input-container>
	<md-input-container class="md-block">
	    <label translate>skew</label>
	    <input
	        ng-model="ctrl.skewY"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateSkewY()">
	</md-input-container>
</fieldset>

<fieldset
	layout="column">
    <legend translate>Z</legend>
	<md-input-container class="md-block">
	    <label translate>translate</label>
	    <input
	        ng-model="ctrl.translateZ"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateTranslatez()">
	</md-input-container>
	<md-input-container class="md-block">
	    <label translate>scale</label>
	    <input
	        ng-model="ctrl.scaleZ"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateScaleZ()">
	</md-input-container>
	<md-input-container class="md-block">
	    <label translate>rotate</label>
	    <input
	        ng-model="ctrl.rotateZ"
	        ng-model-options="{debounce: { 'default': 500, 'blur': 0, '*': 1000 }, updateOn: 'default blur click'}"
	        ng-change="ctrl.updateRotateZ()">
	</md-input-container>
</fieldset>



