<!-- Microdata Specification Editor -->
<!-- 
 Widget Microdata Specification is an extension of HTML Microdata to add
metadata into a document. These microdata are used to make a document readable
for Search Engines.

Some widgets need simple description in text. This is a setting to manage
these attributes. Here is list of attributes:

- {Text} id 
- {Text} label
- {URL} category SEE: schema.org
- {Text} description 
- {Text} keywords
- {Text} property
- {URL} cover

These attributes are useful in SEO.
SEE: document/widgets-microdata.md
-->
<fieldset
	layout="column"
	style="padding: 0px">
	<legend translate="">Microdata</legend>
	<wb-ui-setting-text
		ng-model="ctrl.itemscope"
		ng-change="ctrl.setProperty('itemscope', ctrl.itemscope)"
		wb-title="Scope"
		wb-description=""></wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.itemtype"
		ng-change="ctrl.setProperty('itemtype', ctrl.itemtype)"
		wb-title="Type"
		wb-description=""></wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.itemprop"
		ng-change="ctrl.setProperty('itemprop', ctrl.itemprop)"
		wb-title="Property"
		wb-description=""></wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.itemid"
		ng-change="ctrl.setProperty('itemid', ctrl.itemid)"
		wb-title="ID"
		wb-description=""></wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.itemref"
		ng-change="ctrl.setProperty('itemref', ctrl.itemref)"
		wb-title="Reference"
		wb-description=""></wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.value"
		ng-change="ctrl.setProperty('value', ctrl.value)"
		wb-title="Value"
		wb-description=""></wb-ui-setting-text>
	<wb-ui-setting-text
		ng-model="ctrl.content"
		ng-change="ctrl.setProperty('content', ctrl.content)"
		wb-title="Content"
		wb-description=""></wb-ui-setting-text>
</fieldset>
