<fieldset
	layout="column">
    <md-input-container>
        <label translate>download</label>
        <input
        	aria-label="download"
        	ng-model="ctrl.download"
        	ng-change="ctrl.setProperty('download', ctrl.download)"
			ng-model-options="{debounce: 200}">
    </md-input-container>
    <wb-ui-setting-link
        title="URL" 
        ng-model="ctrl.href"
        ng-change="ctrl.setProperty('href', ctrl.href)"
		ng-model-options="{debounce: 200}">
    </wb-ui-setting-link>
    <md-input-container>
        <label translate>hreflang</label>
        <input
        	aria-label="hreflang"
        	ng-model="ctrl.hreflang"
        	ng-change="ctrl.setProperty('hreflang', ctrl.hreflang)"
			ng-model-options="{debounce: 200}">
    </md-input-container>
    <md-input-container>
        <label translate>media</label>
        <input
        	aria-label="media"
        	ng-model="ctrl.media"
        	ng-change="ctrl.setProperty('media', ctrl.media)"
			ng-model-options="{debounce: 200}">
    </md-input-container>
    <md-input-container>
        <label translate>ping</label>
        <input
        	aria-label="ping"
        	ng-model="ctrl.ping"
        	ng-change="ctrl.setProperty('ping', ctrl.ping)"
			ng-model-options="{debounce: 200}">
    </md-input-container>
    <md-input-container>
        <label translate>referrerpolicy</label>
        <input
        	aria-label="referrerpolicy"
        	ng-model="ctrl.referrerpolicy"
        	ng-change="ctrl.setProperty('referrerpolicy', ctrl.referrerpolicy)"
			ng-model-options="{debounce: 200}">
    </md-input-container>
    <md-input-container>
        <label translate>rel</label>
        <input
        	aria-label="rel"
        	ng-model="ctrl.rel"
        	ng-change="ctrl.setProperty('rel', ctrl.rel)"
			ng-model-options="{debounce: 200}">
    </md-input-container>
    <md-input-container>
        <label translate>target</label>
        <input
        	aria-label="target"
        	ng-model="ctrl.target"
        	ng-change="ctrl.setProperty('target', ctrl.target)"
			ng-model-options="{debounce: 200}">
    </md-input-container>
<!--     XXX: maso, 2019: verlap with oure keys -->
<!--     <md-input-container> -->
<!--         <label translate>type</label> -->
<!--         <input -->
<!--         	aria-label="type" -->
<!--         	ng-model="ctrl.type" -->
<!--         	ng-change="ctrl.setProperty('type', ctrl.type)" -->
<!-- 			ng-model-options="{debounce: 200}"> -->
<!--     </md-input-container> -->
</fieldset>