<!-- 

- wbModel: Data model related to the current view
- wbEditable: If edit mode is enabled

 -->
<div
	ng-hide="isSelected()"
    ng-bind-html="wbModel.text | wbunsafe">
</div>
<div
	ui-tinymce="{
		selector : 'div.tinymce',
		theme : 'inlite',
		plugins : 'directionality contextmenu table link paste image imagetools hr textpattern autolink ',
		insert_toolbar : 'quickimage quicktable',
		selection_toolbar : 'bold italic | quicklink h1 h2 h3 blockquote | ltr rtl',
		insert_button_items: 'image link | inserttable | hr',
		inline : true,
		paste_data_images : true,
		branding: false,
		imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions'
	}"
	ng-model="wbModel.text"
	ng-show="isSelected()"
	flex>
</div>