/*
Rules for sizing the icon.
*/
.mde-18 {
	font-size: 18px;
}

.mde-24 {
	font-size: 24px;
}

.mde-36 {
	font-size: 36px;
}

.mde-48 {
	font-size: 48px;
}

.mde-64 {
	font-size: 64px;
}

.mde-128 {
	font-size: 128px;
}

