.wb-setting-panel{
    padding: 0px;
}
.wb-setting-panel md-icon{
    margin-right: 8px !important;
    margin-top: 0px;
    margin-bottom:0px ;
}

.wb-setting-panel md-list-item{
    padding-right: 16px;
}

.wb-setting-panel .md-list-item-inner{
    padding-right: 0px;
}

.wb-input-container-without-label {
    margin: 0px;
}

.color-picker-hide-textbox{
    direction: rtl;
    margin: 0px;
    padding: 0px;
}
.color-picker-hide-textbox md-input-container {
    visibility: hidden;
    width: 10px !important;
    height: 32px;
}

.wb-sub-divider{
    margin-left: 48px;
    border-top-style: dotted;
}