/**************************************************************************************
                                     Widget layout

A widget is wraped in several dive to instruct a view. Here is the hierarchial structure
of a widget:

-> widget
***************************************************************************************/
.wb-group {
	min-width: 32px;
	min-height: 32px;
}

/*
 * Added to a group if is the root element
 */
.wb-group-root {
	overflow: auto !important;
}

/*
 * Added to a group if is in edit mode
 */
.wb-group-edit {
	border: 0.5px dashed #aaaaaa;
	margin: 1px;
}

/*
 * Added if group is selected
 */
.wb-group-select {
/* 	background: red; */
}

/*
 * Add animation on mouse hover in edit mode
 */
.wb-group-edit:hover {
	border: 1px dashed #555753;
	-webkit-box-shadow: 0px 0px 2x 2px #aaaaaa;
	-moz-box-shadow: 0px 0px 2px 2px #aaaaaa;
	box-shadow: 0px 0px 2px 2px #aaaaaa;
}


/**************************************************************************************
                                     Widget layout

A widget is wraped in several dive to instruct a view. Here is the hierarchial structure
of a widget:

-> widget
***************************************************************************************/
.wb-widget {
	overflow: hide;
    position: relative;
	min-width: 32px;
	min-height: 32px;
}

.wb-widget-edit {
	margin: 2px;
	border: 1px dashed #8f9494;
}

/*
 * Body of a widget to fill
 */
.wb-widget-fill {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}











.md-button.md-icon-button.md-mini {
	line-height: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	min-height: 1rem;
	margin: 0px;
	padding: 0px;
	margin-left: 4px;
}

.wb-icon-mini {
	padding: 0px;
	margin: 0px;
	font-size: 1rem;
	line-height: 1rem;
	min-height: 1rem;
}