<md-bottom-sheet 
	class="md-list md-has-header"
	md-colors="{backgroundColor: 'background-900'}">
	<div
		style="padding: 16px;">
		<!-- Header -->
		<div
			layout="row"
			layout-align="start center"
			style="padding: 0px 8px; margin: 0px;">
			<span translate>Start a new page</span>
			<span flex></span>
			<span translate>Template gallery</span>
			<md-divider></md-divider>
			<md-menu>
				<md-button 
					aria-label="Open them interactions menu" 
					class="md-icon-button" 
					ng-click="$mdMenu.open($event)">
					<wb-icon>more_vert</wd-icon>
				</md-button>
				<md-menu-content 
					width="4"
					md-colors="{backgroundColor: 'background'}">
					<md-menu-item>
						<md-button 
							ng-click="hideTemplates($event)">
						    <span translate>Hide templates</span>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			
			
		</div>
		<!-- template list -->
		<md-content
			layout="row"
			md-colors="{backgroundColor: 'background-900'}">
			<div
				layout="column"
				ng-repeat="template in templates"
				ng-click="loadTemplate(template)"
				layout-padding
				style="cursor: pointer;">
				<img
					width="215px"
					height="152px"
					ng-src="{{template.thumbnail}}"
					style="border-bottom-width: 1px; border: solid;">
				{{template.name}}
			</div>
		</md-content>
	</div>
</md-bottom-sheet>