<div ng-class="{'mde-widget': mdeEditable, 'fill':mdeModel.style.fill}">

	<!-- یک عنوان در حالت ادیت برای راهنمایی کاربر اضافه می‌کند -->
	<div ng-show="mdeEditable" 
		layout="row"
		class="mde-widget-header" 
		ng-include="'views/partials/mdewidgetheaderactions.html'">
	</div>

	<div
		ng-style="{ 'background': mdeModel.style.background,'border-radius': mdeModel.style.borderRadius, 'border': mdeModel.style.border }"
		layout="column">

		<!-- Main contetn -->
		<h1 style="text-align: center;">{{mdeModel.title}}</h1>
		<div 
			ng-style="{'width': '100%'}"
			ng-bind-html="mdeModel.text | unsafe">
		</div>
		<div ng-class="{'mde-rtl':mdeModel.style.rtl}" 
			layout="column" layout-align="center center" 
			layout-gt-sm="row" layout-align-gt-sm="space-around center" 
			ng-style="{'width': '100%'}">
			<div layout="column"
				flex="100"
				flex-gt-sm="none"
				layout-align="center center" 
				layout-padding
				ng-repeat="feature in mdeModel.features">
				<md-icon
					ng-style="{ 'font-size': '64px', 'color': mdeModel.style.color}">{{feature.icon}}</md-icon>
				<h3 ng-style="{'color': mdeModel.style.color}"
					ng-class="{'mde-rtl':mdeModel.style.rtl}">
					{{feature.title}}
					<div ng-if="mdeEditable">
						<md-button class="md-icon-button" ng-click="edit(feature)">
							<md-icon ng-style="{ 'color': mdeModel.style.color }">edit</md-icon>
						</md-button>
						<md-button class="md-icon-button" ng-click="remove(feature)">
							<md-icon ng-style="{ 'color': mdeModel.style.color }">delete</md-icon>
						</md-button>
					</div>
				</h3>
				<div ng-style="{'color': mdeModel.style.color}"
					ng-class="{'mde-rtl':mdeModel.style.rtl}"
					ng-bind-html="feature.text | unsafe"></div>
			</div>
		</div>
	</div>
</div>