<div ng-class="{'mde-widget': mdeEditable, 'fill':mdeModel.style.fill}">
	<!-- یک عنوان در حالت ادیت برای راهنمایی کاربر اضافه می‌کند -->
	<div ng-show="mdeEditable" 
		layout="row"
		class="mde-widget-header" 
		ng-include="'views/partials/mdewidgetheaderactions.html'">
	</div>
	
    <div
       layout="column"
       ng-class="{'mde-rtl':mdeModel.style.rtl}"
       ng-style="{'color': mdeModel.style.color,'background-color': mdeModel.style.backgroundColor,
	   'width': mdeModel.style.width,'font-family': mdeModel.style.font,'padding': mdeModel.style.padding }">
        <div ng-if="mdeEditable">
            <md-button
                    aria-label="settings"
                    ng-click="settings(mdeModel)">
                <md-icon ng-style="{ 'color': mdeModel.style.color }">settings</md-icon>
            </md-button>
            <md-button
                    ng-if="ngContent"
                    aria-label="save"
                    ng-click="save()">
                <md-icon ng-style="{ 'color': mdeModel.style.color }">save</md-icon>
            </md-button>
        </div>
        <div
                layout-gt-sm="row"
                layout="column"
                layout-padding>

            <!-- Links -->
            <div layout="column"
                 flex="none"
                 flex-gt-sm="30">
                <div ng-repeat="link in mdeModel.links">
                    <md-button
                            class="md-primary"
                            ng-click="runAction(link.action)">
                        <md-icon ng-if="link.action.icon">{{link.action.icon}}</md-icon>
                        {{link.title}}
                    </md-button>
                    <md-button ng-if="mdeEditable" class="md-icon-button" ng-click="editLink(link)">
                        <md-icon ng-style="{ 'color': mdeModel.style.color }">edit</md-icon>
                    </md-button>
                    <md-button ng-if="mdeEditable" class="md-icon-button" ng-click="deleteLink(link)">
                        <md-icon ng-style="{ 'color': mdeModel.style.color }">delete</md-icon>
                    </md-button>
                </div>
                <div>
                    <md-button
                            ng-if="mdeEditable"
                            aria-label="add social"
                            ng-click="addLink(mdeModel)">
                        <md-icon ng-style="{ 'color': mdeModel.style.color }">add</md-icon>
                    </md-button>
                </div>
            </div>


            <!-- tiles -->
            <div
                    layout="row" flex="none"
                    flex-gt-sm="70"
                    layout-wrap layout-padding>
                <div
                        layout="column" layout-align="center start" flex="100"
                        flex-gt-md="50"
                        ng-repeat="tile in mdeModel.tiles">
                    <h3>{{tile.title}}</h3>
                    <div ng-if="mdeEditable">
                        <md-button class="md-icon-button" ng-click="editTicket(tile)">
                            <md-icon ng-style="{ 'color': mdeModel.style.color }">edit</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="deleteTicket(tile)">
                            <md-icon ng-style="{ 'color': mdeModel.style.color }">delete</md-icon>
                        </md-button>
                    </div>
                    <p class="md-body-1">{{tile.description}}</p>
                    <md-button class="md-primary" ng-click="runAction(tile.action)">
                        <md-icon ng-if="tile.action.icon">{{tile.action.icon}}</md-icon>
                        {{tile.action.title}}
                    </md-button>
                </div>

                <md-button ng-if="mdeEditable" aria-label="add social" ng-click="addTicket(mdeModel)">
                    <md-icon ng-style="{ 'color': mdeModel.style.color }">add</md-icon>
                </md-button>
            </div>
        </div>
    </div>

</div>