<div
	layout="column">
	<h3 translate>Events</h3>
	<table
		class="mb-table">
		<thead>
			<tr
 				md-colors="{color: 'primary-700'}">
				<td translate>Name</td>
				<td translate>Code</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="event in events track by $index">
				<td>{{event.title}}</td>
				<td>{{event.code | limitTo:13 }} ...</td>
				<td>
					<md-button
						ng-if="event.code"
						ng-click="ctrl.deleteEvent(event, $event)"
						class="md-icon-button">
						<wb-icon>delete</wb-icon>
					</md-button>
					<md-button
						ng-click="ctrl.editEvent(event, $event)"
						class="md-icon-button">
						<wb-icon>edit</wb-icon>
					</md-button>
				</td>
			</tr>
		</tbody>
	</table>
</div>