<div
	dnd-disable-if="!wbEditable"
	dnd-draggable="wbModel"
	dnd-type="'wb.widget'"
	dnd-moved="remove()"
	wb-size="wbModel.style"
	wb-margin="wbModel.style"
	wb-background="wbModel.style"
	wb-border="wbModel.style"
	ng-class="{'wb-panel wb-widget-edit': wbEditable}"
	name="{{wbModel.name}}"
	md-theme-watch="true"
	ng-class="{'wb-panel-overlay': ctrl.isHoverDelBtn()}"
	class="wb-panel-container"
	dir="{{wbModel.direction}}"
	wb-layout="wbModel.style"
	wb-padding="wbModel.style"
	dnd-external-sources="true"
	dnd-list="wbModel.contents"
	dnd-allowed-types="getAllowedTypes()"
	dnd-drop="dropCallback(event, index, item, external, type)"></div>
