<div
	class="wb-group"
	dir="{{wbModel.direction || wbModel.style.dir}}"
	name="{{wbModel.name}}"
	id="{{wbModel.id}}"
	
	dnd-disable-if="!ctrl.isEditable() || ctrl.isRoot()"
	dnd-draggable="wbModel"
	dnd-type="'wb.widget'"
	dnd-moved="remove()"
	
	dnd-external-sources="true"
	dnd-list="wbModel.contents"
	dnd-allowed-types="getAllowedTypes()"
	dnd-drop="dropCallback(event, index, item, external, type)"
	
	wb-size="wbModel.style"
	wb-layout="wbModel.style"
	wb-margin="wbModel.style"
	wb-padding="wbModel.style"
	wb-background="wbModel.style"
	wb-border="wbModel.style"
	wb-events="wbModel.event"
	
	ng-class="{
		'wb-group-root': ctrl.isRoot(),
		'wb-group-edit': ctrl.isEditable(),
		'wb-group-select': ctrl.isSelected()
	}"
	md-theme-watch="true"></div>
