<div ng-class="{'wb-widget': wbEditable, 'fill':wbModel.style.fill}">
    <!-- یک عنوان در حالت ادیت برای راهنمایی کاربر اضافه می‌کند -->
    <div ng-show="wbEditable"
         layout="row"
         class="wb-widget-header"
         ng-include="'views/partials/wb-widgetheaderactions.html'">
    </div>

    <!-- متن اصلی صفحه اینجا ایجاد می‌شود. -->
    <div
            ng-bind-html="wbModel.text | unsafe"
            ng-style="{
            'margin-left':wbModel.style.marginLeft,
            'margin-right':wbModel.style.marginRight,
            'margin-top':wbModel.style.marginTop,
            'margin-bottom':wbModel.style.marginBottom,

            'padding-left':wbModel.style.paddingLeft,
            'padding-right':wbModel.style.paddingRight,
            'padding-top':wbModel.style.paddingTop,
            'padding-bottom':wbModel.style.paddingBottom,

            'background-color': wbModel.style.backgroundColor,
            'color': wbModel.style.color,

            'min-width':wbModel.style.minWidth,
            'min-height':wbModel.style.minHeight,
            'max-width':(wbModel.style.maxWidth==0) ? 'none' : wbModel.style.maxWidth,
            'max-height':(wbModel.style.maxHeight==0)?'none':wbModel.style.maxHeight,

            'border-top-left-radius':(wbModel.style.borderRadius.uniform) ? wbModel.style.borderRadius.all : wbModel.style.borderRadius.topLeft,
            'border-top-right-radius':(wbModel.style.borderRadius.uniform) ? wbModel.style.borderRadius.all : wbModel.style.borderRadius.topRight,
            'border-bottom-left-radius':(wbModel.style.borderRadius.uniform) ? wbModel.style.borderRadius.all : wbModel.style.borderRadius.bottomLeft,
            'border-bottom-right-radius':(wbModel.style.borderRadius.uniform) ? wbModel.style.borderRadius.all : wbModel.style.borderRadius.bottomRight,

            'border-left-style':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderStyle.all : wbModel.style.borderStyle.left,
            'border-right-style':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderStyle.all : wbModel.style.borderStyle.right,
            'border-top-style':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderStyle.all : wbModel.style.borderStyle.top,
            'border-bottom-style':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderStyle.all : wbModel.style.borderStyle.bottom,

            'border-left-width':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderWidth.all : wbModel.style.borderWidth.left,
            'border-right-width':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderWidth.all : wbModel.style.borderWidth.right,
            'border-top-width':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderWidth.all : wbModel.style.borderWidth.top,
            'border-bottom-width':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderWidth.all : wbModel.style.borderWidth.bottom,

            'border-left-color':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderColor.all : wbModel.style.borderColor.left,
            'border-right-color':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderColor.all : wbModel.style.borderColor.right,
            'border-top-color':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderColor.all : wbModel.style.borderColor.top,
            'border-bottom-color':(wbModel.style.borderStyleColorWidth.uniform) ? wbModel.style.borderColor.all : wbModel.style.borderColor.bottom,
            }"
    >
    </div>
</div>