<div ng-class="{'wb-widget': wbEditable, 'fill':wbModel.style.fill}">
<!-- 
Show members linst based on user template

Wedget presents members list based on a template. Mebmers list is get from
server based on Seen Protocol.

See: https://gitlab.com/phoenix-scholars/seen
See: https://github.com/phoenix-scholars/angular-pluf
 -->
    <!-- Adds a title in edit mode -->
    <div ng-show="wbEditable"
         layout="row"
         class="wb-widget-header"
         ng-include="'views/partials/wb-widgetheaderactions.html'">
    </div>

    <!-- Main widget body -->
    <div class="wb-panel-body" id="wb-members-body">
	    <div>
			<md-select 
				ng-show="wbEditable"
				placeholder="User list role" 
				ng-model="wbModel.role" 
				md-on-open="loadRoles()" 
				style="min-width: 200px;">
				<md-option 
					ng-value="role.id" 
					ng-repeat="role in roles.items">
					{{role.name}}
				</md-option>
			</md-select>
	    </div>
		<wb-content
			ng-show="wbEditable"
			wb-editable="wbEditable" 
			wb-model="wbModel.template">
		</wb-content>
	    <div id="wb-members-placeholder"
			wb-margin="wbModel.style"
			wb-padding="wbModel.style"
			wb-size="wbModel.style"
			wb-background="wbModel.style"
			wb-border="wbModel.style">
	    </div>
    </div>
</div>