<div 
	dnd-disable-if="!wbEditable"
	dnd-draggable="wbModel"
	dnd-type="'wb.widget'"
	dnd-moved="remove()"
	ng-class="{'wb-panel': wbEditable}"
	name="{{wbModel.name}}">
    <!-- a header is added through edit-mode -->
    <div ng-show="wbEditable" class="wb-panel-header" layout="row">
        <span translate> {{wbModel.name}}</span>
        <span flex></span>
        <md-button
                ng-click="newWidget(wbModel)"
                class="md-icon-button md-mini">
            <md-icon class="wb-icon-mini">add_circle</md-icon>
        </md-button>
        <md-button
                ng-click="settings()"
                class="md-icon-button md-mini">
            <md-icon class="wb-icon-mini">settings</md-icon>
        </md-button>
        <md-button
                class="md-icon-button md-mini"
                ng-mouseenter="hoveringDelBtn=true"
                ng-mouseleave="hoveringDelBtn=false"
                ng-click="remove()">
            <md-icon class="wb-icon-mini">delete</md-icon>
        </md-button>
    </div>

    <!-- body section (in non-edit mode, this area just shown -->
    <div 
    	class="wb-panel-body" 
    	id="wb-content-body">
        <div 
	        ng-show="hoveringDelBtn" 
	        class="wb-panel-overlay">
	    </div>
        <!-- تمام بچه‌ها در این قسمت اضافه می‌شن. -->
        <div class="wb-panel-container"
            wb-layout="wbModel.style"
			wb-margin="wbModel.style"
			wb-padding="wbModel.style"
			wb-size="wbModel.style"
			wb-background="wbModel.style"
			wb-border="wbModel.style"
            id="wb-content-placeholder"
			dnd-external-sources="true"
            dnd-list="wbModel.contents"
    		dnd-allowed-types="['wb.widget']"
    		dnd-drop="dropCallback(event, index, item, external, type)">
        </div>
        <!-- <div ng-include src="'views/partials/wb-edit-hint-panel.html'"></div> -->
    </div>
</div>
