<md-expansion-panel>
    <md-expansion-panel-collapsed>
        <div class="md-title">{{label}}
            <md-tooltip md-direction="bottom" md-delay="300" ng-show="description">{{description}}</md-tooltip>
        </div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
    <md-expansion-panel-expanded>
		<md-expansion-panel-header>
			<div class="md-title">{{label}}</div>
			<div class="md-summary"></div>
			<md-expansion-panel-icon ng-click="$panel.collapse()"></md-expansion-panel-icon>
		</md-expansion-panel-header>
		<md-expansion-panel-content 
			layout="column"
			style="padding: 2px;">
			<ng-transclude
				layout="column">
			</ng-transclude>
		</md-expansion-panel-content>
	</md-expansion-panel-expanded>
</md-expansion-panel>
