<div
	layout="column">
	<md-nav-bar 
		ng-init="page='widget'"
		md-selected-nav-item="page" 
		nav-bar-aria-label="navigation links">
		<md-nav-item md-nav-click="goto('widget')" name="widget">Widgets</md-nav-item>
		<md-nav-item md-nav-click="goto('setting')" name="setting">Settings</md-nav-item>
	</md-nav-bar>
	<wb-widgets-explorer
		ng-show="page=='widget'"
		ng-model="widgets">
	</wb-widgets-explorer>
	<div 
		ng-show="page=='setting'"
		id="WB-SETTING-PANEL">
	 <!-- Setting pages -->
	</div>
</div>