<!--<div layout="column">

    <p translate>{{title}}</p>   

     are all corners have equal border? 
    <wb-ui-setting-on-off-switch 
        title="All Equal?" 
        icon="full_rounded" 
        value="allEqual">
    </wb-ui-setting-on-off-switch>

     uniform corner radius as a text-box 
    <wb-ui-setting-number 
        ng-show="allEqual" 
        title="Radius" 
        icon="rounded_corner"  
        value="allCorner">
    </wb-ui-setting-number>
     uniform corner radius as a slider 
    <wb-ui-setting-number 
        ng-show="allEqual" 
        slider="" 
        icon="wb-blank" 
        value="allCorner">
    </wb-ui-setting-number>

     4 sliders for left-right-bottom-up corner radius 
     top-left radius 
    <wb-ui-setting-number 
        ng-show="!allEqual" 
        title="Top-Left" 
        icon="corner_top_left"  
        value="topLeft">
    </wb-ui-setting-number>
    <wb-ui-setting-number 
        ng-show="!allEqual" 
        slider="" 
        icon="corner_top_left"  
        value="topLeft">
    </wb-ui-setting-number>

     top-right radius 
    <wb-ui-setting-number 
        ng-show="!allEqual" 
        title="Top-Right" 
        icon="corner_top_right"  
        value="topRight">
    </wb-ui-setting-number>
    <wb-ui-setting-number 
        ng-show="!allEqual" 
        slider=""
        icon="corner_top_right"  
        value="topRight">
    </wb-ui-setting-number>

     bottom-left radius 
    <wb-ui-setting-number 
        ng-show="!allEqual" 
        title="Bottom-Right"
        icon="corner_bottom_right"  
        value="bottomLeft">
    </wb-ui-setting-number>
    <wb-ui-setting-number 
        ng-show="!allEqual" 
        slider=""
        icon="corner_bottom_right"  
        value="bottomLeft">
    </wb-ui-setting-number>

     bottom-right radius 
    <wb-ui-setting-number 
        ng-show="!allEqual" 
        title="Bottom-left" 
        icon="corner_bottom_left"  
        value="bottomRight">
    </wb-ui-setting-number>
    <wb-ui-setting-number 
        ng-show="!allEqual" 
        slider=""
        icon="corner_bottom_left"  
        value="bottomRight">
    </wb-ui-setting-number>

    <div 
        class="hint" 
        ng-if="description"
        translate="">{{description}}
    </div>

</div>-->
