<!--    <md-color-picker
            class="color-picker-hide-textbox"
            md-color-clear-button="false"
            ng-model="value">
    </md-color-picker>
    <wb-icon 
    	ng-hide="icon==undefined || icon==null || icon=='title'"
		layout-padding>{{icon}}</wb-icon>
    <p 
    	ng-hide="title==undefined || title==null || title==''" 
    	flex>{{title}}</p>-->


<div
    md-color-picker
    ng-model="value"
    label="{{title}}"
    icon="{{icon||'brush'}}"
    default="#f00"
    md-color-generic-palette="false"
    md-color-history="false"
></div>