<div layout="row">
    <div layout="row">
        <wb-icon 
            ng-if="icon" 
            wb-icon-name="{{::icon}}">
        </wb-icon>
        <p ng-if="title" translate>{{::title}}</p>
    </div>
    <md-tabs
        flex
        class="wb-tab-as-choose-button"
        md-selected="selectedIndex">
        <md-tab 
            ng-repeat="item in ::xitems"
            md-on-select="selectionChanged()">
            <md-tab-label>
                    <md-tooltip
                        ng-if="::item.title"
                        md-delay="1500">
                        <span translate>{{::item.title}}</span>  
                    </md-tooltip>
                    <wb-icon wb-icon-name="{{::item.icon}}"></wb-icon>
            </md-tab-label>
        </md-tab>
    </md-tabs>
</div>

