<div
	layout="column"
	layout-fill>
	<md-toolbar>
		<div 
			class="md-toolbar-tools"
			layout="row">
			<span flex></span>
			<md-select 
				ng-model="value.language"
				ng-change="ctrl.setLanguage(value.language)"
				class="md-no-underline">
				<md-option 
					ng-repeat="l in value.languages track by $index" 
					ng-value="l.value">
					{{l.text}}
				</md-option>
			</md-select>
		</div>
	</md-toolbar>
	<md-content
		flex>
		<div
			style="min-height: 100%; min-width: 100%;"
			index="0"
			id="am-wb-resources-script-editor">
		</div>
	</md-content>
</div>